* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
#aboutusbody{

  overflow-x: hidden;
  font-family: "poppins";
  overflow-y: hidden;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
}
  .aboutus1{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    background-image: url(/src/img/Rectangle4147.png);
    background-color: #2D3431;
  padding-top: 8em;
  padding-bottom: 8em;
  color: white;
  height: 100vh;
 
  }

.aboutus02{
display: flex;
  }
  .aboutus002{
    display: none;
  }
  .ellipses111{
    transform: translate(50%, 10%);
  }
  .middlediamond{
    transform: translate(0%, 20%);
  }
  .ellipse22{
    transform: translate(-30%, 10%);
  }

.img22{
transform: translate(-40%, 100%);
}
.img33{
  transform: translate(0%, 120%);
}
.img66{
  transform: translate(0%, 150%);
}
.img55{
  transform: translate(50%, 40%);
}



  .aboutus01{
  transform: translate(3%, 0%);

  }

  .welcomeselenia{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 60px;
  }
  .ppp{
    padding-top: 1em;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
width: 50vw;
  }
.mobileppp{
  display: none;
}
  .aboutus2{
    display: grid;
    grid-template-columns: 50% 50% ;
    background-image: url(/src/img/Rectangle4147.png);
    background-color: #1ADF8B ;
  justify-content: space-between;

  }
  
  .reason2{
    padding: 1em;
    text-align: center;
  }
  
  .abouthead{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
padding: 1em;
background: #161D1A;
color: white;
border-top-right-radius: 0.5em;
border-top-left-radius: 0.5em;
position: relative;
top: 1em;
border-bottom: solid;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: white;


  }
 .aboutp{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
background: #161D1A;
color: white;
padding: 2.5em;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
padding-top: 3em;
 }
 .dot{
  width: 48px;
height: 48px;
background: linear-gradient(275.52deg, #00C566 5.5%, #00FFA3 97.66%);
border-radius: 50%;
 }
 .history{
  display:flex;
  column-gap: 1em;
  transform: translate(3%, 0%);
 }
 .ourhistory{
  width: 265px;
height: 60px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
background: linear-gradient(275.52deg, #00C566 5.5%, #00FFA3 97.66%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
 }
 .seleniatexxt{
  padding: 1.5em;
  border-color: #00FFA380;
  border: 3px;
  background-color: #212D21;
  width: 93vw;
  border-style: solid;
border-radius: 0px 64px;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
transform: translate(3%, 0%);
border-width: 1px;
 }
 .story1{
  padding-bottom: 2em;
padding-top: 3em;
background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
 }
.ourmission{
  display: flex;
  justify-content: end;
  column-gap: 1em;
  transform: translate(-3%, 0%);
}

.seleniatexxt2{
  padding: 1.5em;
  border-color: #00FFA380;
  border: 3px;
  background-color: #212D21;
  width: 55vw;
  border-style: solid;
border-radius: 64px 0px;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
transform: translate(-5%, 0%);
border-width: 1px;
}
.mission{
  padding-top: 2em;
  display: flex;
  align-items: end;
  flex-direction: column;
  padding-top: 2em;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  padding-bottom: 2em;
}

.visionn{
  display: flex;
column-gap: 1em;
transform: translate(3%, 10%);
}
.vision{
padding-top: 2em;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  padding-bottom: 2em;
}
.vision-text{
  padding: 1.5em;
  border-color: #00FFA380;
  border: 3px;
  background-color: #212D21;
  width: 55vw;
  border-style: solid;
border-radius: 0px 64px;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
transform: translate(5%, 0%);
border-width: 1px;
}
.goall{
  display: flex;
  justify-content: end;
  column-gap: 1em;
  position: relative;
  left: 3em;
}
.goal-text{
  padding: 1.5em;
  border-color: #00FFA3;
  border: 3px;
  background-color: #212D21;
  width: 55vw;
  border-style: solid;
border-radius: 64px 0px;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
transform: translate(-5%, 0%);
border-width: 1px;
}
.goal{
  display: flex;
  align-items: end;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
}
.values{
padding-bottom: 35em;
padding-top: 5em;
background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
}

.valuess{
  display: flex;
  transform: translate(3%,0%);
  column-gap: 1em;
}
.corevalues{
display: flex;
transform: translate(3%, 0%);
column-gap: 0.5em;
height: 200px;

}
.value1{
  width: 15vw;
  height: 150px;
  padding-top: 3.5em;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 250%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;

}
.value2{
  width: 15vw;
  height: 150px;
  
  padding-top: 3.5em;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 200%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}
.value3{
  width: 15vw;
  height: 150px;
  padding-top: 3.5em;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 150%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}
.value4{
  width: 15vw;
  height: 150px;
  text-align: center;
  padding-top: 3.5em;
  background-color: #212D21;
  border-style: solid;
  color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 100%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}
.value5{
  width: 15vw;
  height: 150px;
  padding-top: 3.5em;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 50%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}
.value6{
  width: 15vw;
  height: 150px;
  padding-top: 3.5em;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}


@media screen and (max-width: 1200px){

  .reason2{
    padding: 1em;
      }


      .abouthead{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    padding: 1em;
    background: #161D1A;
    color: white;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    position: relative;
    top: 1em;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;

    
      }
     .aboutp{
      
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background: #161D1A;
    color: white;
    padding: 2.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding-top: 3em;
     }

  .abouthead{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
background: #161D1A;
color: white;
border-top-right-radius: 0.5em;
border-top-left-radius: 0.5em;
height: 130px;
width: 610px;
text-align: center;

  }
  .ellipses111{
    position: relative;
    right: 2em;
  }
  .middlediamond{
     position: relative;
     right: 4em; 
     top: 2em;  
  }
.ellipse22{
  position: relative;
  right: 7em;
}

}





@media screen and (max-width: 1050px){


.ppp{
  font-size: 16px;
}

  .aboutus2{
    display: grid;
    grid-template-columns: 50% 50% ;
    background-image: url(/src/img/Rectangle4147.png);
    background-color: #1ADF8B ;
  justify-content: space-between;
  width: 100vw;

  }
  
  .reason2{
    margin-left: auto;
    margin-right: auto;


  }
  
  .abouthead{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
padding: 1em;
background: #161D1A;
color: white;
border-top-right-radius: 0.5em;
border-top-left-radius: 0.5em;
width: 45vw;

  }
 .aboutp{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
background: #161D1A;
color: white;
margin-top: 0.5em;
padding: 2.5em;
border-bottom-width: 2px;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
width: 45vw;
height: 300px;
 }
  









}





@media screen and (max-width: 900px){

  .aboutp{
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background: #161D1A;
    color: white;
    margin-top: 0.5em;
    padding: 2.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    width: 45vw;
    height: 300px;
     }
     .img66{
      transform: translate(30%, 190%);
    }


}








@media screen and (max-width: 850px){


.aboutus02{
  position: relative;
  right: 20px;
}
.aboutp{
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background: #161D1A;
  color: white;
  margin-top: 0.5em;
  padding: 2.5em;
  border-bottom-width: 2px;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  width: 45vw;
  height: 350px;
   }
    
   .img33{
    position: relative;
    top: 30px;
    right: 20px;

   }


   .corevalues{
    justify-content: center;
  
  font-size: 12px;
}
  












}














@media screen and (max-width: 600px) {

.welcomeselenia{
  font-size: 20px;
}
.aboutus1{
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  background-image: url(/src/img/Rectangle4147.png);
  background-color: #2D3431;
padding-top: 5em;
padding-bottom: 8em;
color: white;
height: 100vh;

}

.aboutus02{
display: flex;
}
.aboutus002{
  display: none;
}
.ellipses111{
  transform: translate(50%, 10%);
  
  transform: scale(0.8);
}
.middlediamond{
  transform: translate(0%, 20%);
  position: relative;
  top: 5em;
  right: 9em;
  transform: scale(0.8);
}
.ellipse22{
  transform: translate(-30%, 10%);
  transform: scale(0.8);
  position: relative;
  top: 5em;
  right: 12em;
}
.img11{
  transform: translate(-80%, 30%);
}
.img22{
transform: translate(-80%, 140%);
}
.img33{
transform: translate(0%, 160%);
}
.img44{
  transform: translate(-40%, -90%);
}
.img66{
transform: translate(-40%, 190%);
}
.img55{
transform: translate(10%, 40%);
}



.aboutus01{
transform: translate(3%, 0%);

}

.welcomeselenia{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
}
.ppp{
  padding-top: 1em;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
width: 40vw;
}
.mobileppp{
display: none;
}


      
.aboutus2{
  display: flex;
  background-image: url(/src/img/Rectangle4147.png);
  background-color: #1ADF8B ;
  height: 50vh;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;


}

.reason2{
  padding: 1em;

    }


.abouthead{
  font-size: 18px;

}
.aboutp{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
background: #161D1A;
color: white;
margin-top: 0.5em;
padding: 1em;
padding-top: 3em;
border-bottom-width: 2px;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
text-align: center;
height:320px;
width: 330px;

}

.abouthead{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
background: #161D1A;
color: white;
border-top-right-radius: 0.5em;
border-top-left-radius: 0.5em;
height: 130px;
width: 330px;
text-align: center;

}


.ourhistory {
  font-size: 20px;
}
.dot{
  width: 24px;
  height: 24px;
}
.story1{
  padding-bottom: 2em;
padding-top: 3em;
background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
 }


.seleniatexxt{
  font-size: 20px;
  padding: 1em;
  border-color: #00FFA380;
  border: 3px;
  background-color: #212D21;
  width: 90vw;
  border-style: solid;
border-radius: 0px 64px;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;

transform: translate(5%, 0%);
border-width: 1px;
}
.ourmission{
  display: flex;
  justify-content: end;
  column-gap: 1em;
  transform: translate(43%, 0%);
}
.seleniatexxt2{
  font-size: 20px;
  padding: 1em;
  border-color: #00FFA380;
  border: 3px;
  background-color: #212D21;
  width: 80vw;

  border-style: solid;
border-radius: 64px 0px;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;

transform: translate(-5%, 0%);
border-width: 1px;
}

.visionn{
  display: flex;
column-gap: 1em;
transform: translate(3%, 10%);
}
.vision-text{

  font-size: 20px;
  padding: 1em;
  border-color: #00FFA380;
  border: 3px;
  background-color: #212D21;
  width: 90vw;
  border-style: solid;
border-radius: 0px 64px;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(5%, 0%);
border-width: 1px;

}

.goall{
  display: flex;
  justify-content: end;
  column-gap: 1em;
  position: relative;
left: 10em;
}

.goal-text{

  font-size: 20px;
  padding: 1em;
  border-color: #00FFA380;
  border: 3px;
  background-color: #212D21;
  width: 90vw;
  height: 160px;
  border-style: solid;
border-radius: 64px 0px;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(-5%, 0%);
border-width: 1px;

}
.value1{
  font-size: 8px;
  Width: 90px;
Height: 85px;
text-align: center;
background-color: #212D21;
border-style: solid;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 300%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;

}
.value2{
  
  font-size: 8px;
  Width: 90px;
Height: 85px;
text-align: center;
background-color: #212D21;
border-style: solid;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 250%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}


.value3{
  
  font-size: 8px;
  Width: 90px;
Height: 85px;
text-align: center;
background-color: #212D21;
border-style: solid;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 200%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}


.value4{
  
  font-size: 8px;
  Width: 90px;
Height: 85px;
text-align: center;
background-color: #212D21;
border-style: solid;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 150%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}


.value5{
  
  font-size: 8px;
  Width: 90px;
Height: 85px;
text-align: center;
background-color: #212D21;
border-style: solid;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 100%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}


.value6{
  
  font-size: 8px;
  Width: 90px;
Height: 85px;
text-align: center;
background-color: #212D21;
border-style: solid;
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
transform: translate(0%, 50%);
border-radius: 1em;
border-color: #00FFA3;
border-width: 1px;
}
.values{
padding-bottom: 10em;

padding-top: 1em;
background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
}


.corevalues{
  justify-content: center;
  padding-right: 2em;
}





}



















@media screen and (max-width: 430px){

    .img11{
      position: relative;
      left: 10px;
      bottom: 20px;
    }
    .img22{
      position: relative;
      
      bottom: 5px;
    }
    
  .img33{
    position: relative;
    left: 1px;
    
  }

  .middlediamond{
    position: relative;
    left: 1px;
    top: 80px;
    transform: scale(1.3);
  }

    .img44{
      position: relative;
      left: 1px;
    }
    .img55{
      position: relative;
      left: 20px;
    }

  .img66{
 position: relative;
 bottom: 10px;
 left: 1em;

  }
  .ellipses1111{
    position: relative;
    left: 15px;
  }

  .aboutus1{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    background-image: url(/src/img/Rectangle4147.png);
    background-color: #2D3431;
  padding-top: 6em;
  padding-bottom: 6em;
  color: white;
  height: 60vh;
 
  }


  .welcomeselenia{
    font-size: 20px;
  }
  .mobileppp{
    display: inline;
  font-size: 14px;
  
  height: 124px;
  }
  .ppp{
    display: none;
  }
  
  .ellipses111{
    position: relative;
    right: 2em;
    
  }
 
  .ellipse22{
  position: relative;
  right: 7em;
  }
 
  
  .aboutus02{
    display: none;
      }
      .aboutus002{
        display: inline;
        display: flex;
      }
  
      
    .aboutus2{
      display: flex;
      background-image: url(/src/img/Rectangle4147.png);
      background-color: #1ADF8B ;
      height: 50vh;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;

   
    }
  
    .reason2{
      padding: 1em;

        }
  
  
    .abouthead{
      font-size: 16px;
      padding-bottom: 4em;
  
    }
    .aboutp{
      
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  background: #161D1A;
  color: white;
  margin-top: 0.5em;
  padding: 1em;
  padding-top: 2em;
  
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  text-align: center;
  height:20em;
  width: 330px;
  
    }
  
    .abouthead{
      font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  background: #161D1A;
  color: white;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 110px;
  width: 330px;
  text-align: center;
  
    }
  
  .ourhistory {
    font-size: 20px;
  }
  .dot{
    width: 24px;
    height: 24px;
  }
  .story1{
    padding-bottom: 2em;
  padding-top: 3em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
   }
  
  
  .seleniatexxt{
    font-size: 20px;
    padding: 1em;
    border-color: #00FFA380;
    border: 3px;
    background-color: #212D21;
    width: 90vw;
    border-style: solid;
  border-radius: 0px 64px;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  
  transform: translate(5%, 0%);
  border-width: 1px;
  }
  .ourmission{
    display: flex;
    justify-content: end;
    column-gap: 1em;
    transform: translate(43%, 0%);
  }
  .seleniatexxt2{
    font-size: 20px;
    padding: 1em;
    border-color: #00FFA380;
    border: 3px;
    background-color: #212D21;
    width: 80vw;
  
    border-style: solid;
  border-radius: 64px 0px;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  
  transform: translate(-5%, 0%);
  border-width: 1px;
  }
  
  .visionn{
    display: flex;
  column-gap: 1em;
  transform: translate(3%, 10%);
  }
  .vision-text{
  
    font-size: 20px;
    padding: 1em;
    border-color: #00FFA380;
    border: 3px;
    background-color: #212D21;
    width: 90vw;
    border-style: solid;
  border-radius: 0px 64px;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  transform: translate(5%, 0%);
  border-width: 1px;
  
  }
  
  .goall{
    display: flex;
    justify-content: end;
    column-gap: 1em;
    position: relative;
  left: 10em;
  }
  
  .goal-text{
  
    font-size: 20px;
    padding: 1em;
    border-color: #00FFA380;
    border: 3px;
    background-color: #212D21;
    width: 90vw;
    height: 200px;
    border-style: solid;
  border-radius: 64px 0px;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  transform: translate(-5%, 0%);
  border-width: 1px;
  
  }
  .value1{
    font-size: 5px;
    Width: 55px;
  Height: 55px;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  transform: translate(0%, 300%);
  border-radius: 1em;
  border-color: #00FFA3;
  border-width: 1px;
  }
  .value2{
    
    font-size: 5px;
    Width: 55px;
  Height: 55px;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  transform: translate(0%, 250%);
  border-radius: 1em;
  border-color: #00FFA3;
  border-width: 1px;
  }
  
  
  .value3{
    
    font-size: 5px;
    Width: 55px;
  Height: 55px;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  transform: translate(0%, 200%);
  border-radius: 1em;
  border-color: #00FFA3;
  border-width: 1px;
  }
  
  
  .value4{
    
    font-size: 5px;
    Width: 55px;
  Height: 55px;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  transform: translate(0%, 150%);
  border-radius: 1em;
  border-color: #00FFA3;
  border-width: 1px;
  }
  
  
  .value5{
    
    font-size: 5px;
    Width: 55px;
  Height: 55px;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  transform: translate(0%, 100%);
  border-radius: 1em;
  border-color: #00FFA3;
  border-width: 1px;
  }
  
  
  .value6{
    
    font-size: 5px;
    Width: 55px;
  Height: 55px;
  text-align: center;
  background-color: #212D21;
  border-style: solid;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  transform: translate(0%, 50%);
  border-radius: 1em;
  border-color: #00FFA3;
  border-width: 1px;
  }
  .values{
  padding-bottom: 7em;
  padding-top: 1em;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);

  }
  

  
  .corevalues{
    justify-content: center;
  }
  
  
  
  

  
  }











  @media screen and (max-width: 400px){


.ellipses1111{
  position: relative;
  left: 2em;
}

.middlediamond{
  position: relative;
  left: 15px;
  top: 80px;
  transform: scale(1.3);
}

  .img44{
    position: relative;
    left: 10px;
  }
  .img55{
    position: relative;
    left: 25px;
  }

.img66{
position: relative;
bottom: 10px;
left: 2em;

}

    
  .aboutus1{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    background-image: url(/src/img/Rectangle4147.png);
    background-color: #2D3431;
  padding-top: 6em;
  padding-bottom: 6em;
  color: white;
  height: 60vh;
 
  }



      
  .aboutus2{
    display: flex;
    background-image: url(/src/img/Rectangle4147.png);
    background-color: #1ADF8B ;
    height: 52vh;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;

 
  }

  .reason2{
    padding: 1em;

      }


  .abouthead{
    font-size: 16px;
    padding-bottom: 4em;

  }
  .aboutp{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
background: #161D1A;
color: white;
margin-top: 0.5em;
padding: 1em;
padding-top: 2em;
border-bottom-width: 2px;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
text-align: center;
height:19em;
width: 330px;

  }

  .abouthead{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
background: #161D1A;
color: white;
border-top-right-radius: 0.5em;
border-top-left-radius: 0.5em;
height: 110px;
width: 330px;
text-align: center;

  }

  
  .corevalues{
    justify-content: center;
  }
  

  }





  @media screen and (max-width: 385px){

.mobileppp{
  font-size: 12px ;
}


.aboutus1{
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  background-image: url(/src/img/Rectangle4147.png);
  background-color: #2D3431;
padding-top: 6em;
padding-bottom: 6em;
color: white;
height: 60vh;

}

.aboutus2{
  display: flex;
  background-image: url(/src/img/Rectangle4147.png);
  background-color: #1ADF8B ;
  height: 55vh;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;


}

.aboutp{
    
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  background: #161D1A;
  color: white;
  margin-top: 0.5em;
  padding: 1em;
  padding-top: 2em;
  border-bottom-width: 2px;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  text-align: center;
  height:19em;
  width: 330px;
  
    }
  
    .abouthead{
      font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  background: #161D1A;
  color: white;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 110px;
  width: 330px;
  text-align: center;
  
    }


    
    .corevalues{
      justify-content: center;
    }
    
    .value1{
      font-size: 5px;
      Width: 49px;
    Height: 49px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 300%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    .value2{
      
      font-size: 5px;
      Width: 49px;
    Height: 49px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 250%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    
    
    .value3{
      
      font-size: 5px;
      Width: 49px;
    Height: 49px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 200%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    
    
    .value4{
      
      font-size: 5px;
      Width: 49px;
    Height: 49px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 150%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    
    
    .value5{
      
      font-size: 5px;
      Width: 49px;
    Height: 49px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 100%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    
    
    .value6{
      
      font-size: 5px;
      Width: 49px;
    Height: 49px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 50%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }

    .values{
      padding-bottom: 5em;
      padding-top: 1em;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
      }
      




  }




 






  @media screen and (max-width: 360px){

    .img11{
      position: relative;
      left: 10px;
      bottom: 20px;
    }
    .img22{
      position: relative;
      
      bottom: 5px;
    }
    
  .img33{
    position: relative;
    left: 1px;
    
  }

  .middlediamond{
    position: relative;
    left: 1px;
    top: 60px;
    transform: scale(1.1);
  }

    .img44{
      position: relative;
      left: -5px;
    }
    .img55{
      position: relative;
      left: 10px;
    }

  .img66{
 position: relative;
 bottom: 10px;
 left: 5px;

  }
  .ellipses1111{
    position: relative;
    left: 20px;
  }

  .aboutus1{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    background-image: url(/src/img/Rectangle4147.png);
    background-color: #2D3431;
  padding-top: 6em;
  padding-bottom: 6em;
  color: white;
  height: 70vh;
  padding-left: 1em;
 
  }


  .welcomeselenia{
    font-size: 20px;
  }
  .mobileppp{
    display: inline;
  font-size: 14px;
  
  height: 124px;
  }
  .ppp{
    display: none;
  }
  
  .ellipses111{
    position: relative;
    right: 2em;
    
  }
 
  .ellipse22{
  position: relative;
  right: 7em;
  }
 
  
  .aboutus02{
    display: none;
      }
      .aboutus002{
        display: inline;
        display: flex;
      }
  
   
      .aboutus2{
        display: flex;
        background-image: url(/src/img/Rectangle4147.png);
        background-color: #1ADF8B ;
        height: 45vh;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
      
      
      }

.reason2{
  padding: 1em;
   position: relative;
   bottom: 0.7em;
    }

.aboutp{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
background: #161D1A;
color: white;
margin-top: 0.5em;
padding: 1em;
padding-top: 2em;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
text-align: center;
height: 18em;
width: 300px;

}

.abouthead{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
background: #161D1A;
color: white;
border-top-right-radius: 0.5em;
border-top-left-radius: 0.5em;
height: 80px;
width: 300px;
text-align: center;


}
    .seleniatexxt{
      font-size: 16px;
      padding: 1em;
      border-color: #00FFA380;
      border: 3px;
      background-color: #212D21;
      width: 90vw;
      border-style: solid;
    border-radius: 0px 64px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    
    transform: translate(5%, 0%);
    border-width: 1px;
    }
    .seleniatexxt2{
      font-size: 16px;
    }
    .vision-text{
      font-size: 16px;
    }



    .goal-text{
  
      font-size: 18px;
      padding: 1em;
      border-color: #00FFA380;
      border: 3px;
      background-color: #212D21;
      width: 90vw;
      height: 180px;
      border-style: solid;
    border-radius: 64px 0px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(-5%, 0%);
    border-width: 1px;
    }


    .value1{
      font-size: 4px;
      Width: 43px;
    Height: 43px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 300%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    .value2{
      
      font-size: 4px;
      Width: 43px;
    Height: 43px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 250%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    
    
    .value3{
      
      font-size: 4px;
      Width: 43px;
    Height: 43px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 200%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    
    
    .value4{
      
      font-size: 4px;
      Width: 43px;
    Height: 43px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 150%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    
    
    .value5{
      
      font-size: 4px;
      Width: 43px;
    Height: 43px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 100%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }
    
    
    .value6{
      
      font-size: 4px;
      Width: 43px;
    Height: 43px;
    text-align: center;
    background-color: #212D21;
    border-style: solid;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    transform: translate(0%, 50%);
    border-radius: 1em;
    border-color: #00FFA3;
    border-width: 1px;
    }


    .corevalues{
      justify-content: center;
    }
    

  }







  @media screen and (max-width: 330px){


 .ppp{
  display: none;
 }
.mobileppp{
  display: block;
  font-size: 14px;
}
.aboutus1{
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  background-image: url(/src/img/Rectangle4147.png);
  background-color: #2D3431;
padding-top: 6em;
padding-bottom: 6em;
color: white;
height: 100vh;
padding-left: 1em;

}

   


    .corevalues{
    padding-right: 25px;
    }


    .aboutus2{
      display: flex;
      background-image: url(/src/img/Rectangle4147.png);
      background-color: #1ADF8B ;
      height: 55vh;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
    
    
    }

    

    .abouthead{
      font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: #161D1A;
    color: white;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    height: 100px;
    width: 280px;
    text-align: center;
    
    
    }
.aboutp{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 8px;
background: #161D1A;
color: white;
margin-top: 0.5em;
padding: 1em;
padding-top: 2em;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
text-align: center;
height:20em;
width: 280px;

}


    .corevalues{
      justify-content: center;
    }
    


    .img33{
      position: relative;
      left: 5px;
    }

  }









  






