


* {

  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

li a{
  text-decoration: none;
  color: white;
}
.mobileview2{
  display: none;
  position: relative;
  
}
.mobileview22{
  position: relative;
  left: 2em;
  
}
#home-container {
  overflow-x: hidden;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
font-family: "poppins";
overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
 background-color: #1A211E;
 height: 6em;
 position: relative;
 top: 50px;
 padding-top: 1.5em;
 
}
.nav-list{
 
  padding: 1em;
  margin-top: 1em;
  background-color: #203425;
  height: 30px;
  align-items: center;
  border-width: 0.5px;
  border-color: #00ffa3 ;
  border-style: solid;
  border-radius: 1em;
  max-width: 500px;
  font-size: 14px;

}

.headerr{
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
 background-color: #1A211E;
 height: 8em;
 position: relative;
bottom: 1em;
}

.seleniaa-text {
  font-size: 1em;
  font-weight: 700;
  color: #00ffa3;
  padding-left: 2em;
  padding-top: 0.3em;
  font-family: "poppins";
}

.selenia-text {
  font-size: 1em;
  font-weight: 700;
  color: #00ffa3;
  padding-left: 4em;
  padding-top: 0.3em;
}

.navigation {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  align-items: center;


}

.navigationzzz{
height: 10vh;

}

.navigations-list {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em 1em 1.5em;
  background-color: #203224;
  text-decoration: none;
  list-style: none;
  border-radius: 20px;
  color: white;
}
.list {
  transition: all 0.2s linear;
  color: white;
}
.list:hover {
  color: #00ffa3;
}

.nav2 {
  display: flex;
  column-gap: 0.5em;
}
  button{
    border: none;}
.button1 {
  border: none;
  width: 9em;
  height: 3em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.75em 1.4em 0.75em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1em;
  margin-top: 0.1em;
  font-weight: 600;
  color: white;
  transition: all 0.2s linear;
  
}
.button1:hover {
  background-color: white;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.button2 {
  color: #01d072;
  font-size: 1em;
  width: 7em;
  text-align: center;
  margin-right: 3em;
  border-radius: 1em;
  height: 3em;
  margin-top: 0.1em;
  margin-right: 4em;
  border-width: 2px;
  border-style: solid;
  border-color: #00c566;
  transition: all 0.2s linear;
  background-color: black;
}
.button2:hover {
  background-color: white;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}


.main1{
  position: relative;
  background-color: #1a211e;
  font-family: "poppins";
  
  
}

#frame1 {
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  position: relative;
font-family: "poppins";
height: 40em;
width: 100vw;


}
.ellipses1 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
  position: relative;
  top: 5em;

}
span {
  color: #00c566;
}

.mobilee{
display: none;
}



.img1 {
position: relative;
right: 7em;
top: 3em;
animation: bounce 4s ease-in-out infinite;

}


@keyframes bounce{
    0%{
      top: -5px;
    }
  25%{
    top: 5px;
  }
  50%{
    top: -5px;
  }
  75%{
    top: 5px;
  }
  100%{
    bottom: 5px;
  }
  
  
  
  }




.img2 {
position: relative;
left: 3em;

}




.img3 {
position: relative;
left: 6em;
top: 2em;
animation: bounce 2s ease-in-out infinite;
}


@keyframes bounce{

  50%{
    top: -5px;
  }
  
  
  
  }

.ellipsetext1 {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;


}
.header1 {
  font-size: 64px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 1em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  text-align: center;

}
.ellipsebutton1 {
  width: 12em;
  height: 3em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.75em 1.4em 0.75em 1.4em;
  font-size: 1.25em;
  font-weight: 600;
  color: white;
  transition: all 0.2s linear;
}
.ellipsebutton1:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.ellipsebutton2 {
  color: #01d072;
  font-size: 1.25em;
  width: 12em;
  background-color: black;
  border-radius: 1em;
  height: 3em;
  border-width: 1px;
  border-style: solid;
  border-color: #00ffa3;
  transition: all 0.2s linear;
}
.ellipsebutton2:hover {
  background-color: white;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.buttons1 {
justify-content: center;
  width: 100vw;
  display: flex;
column-gap: 3em;
margin-top: 3em;
}

.ellipse2 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
  position: relative;
  

}
.img4{
  position: relative;
  right: 5em;
  bottom: 8em;

}




.img5{
  position: relative;
  left: 20em;
  bottom: 7em;
  
}
.img6{
  position: relative;
  left: 5em;
  bottom: 6em;
}




.boxx {
  display: flex;
  justify-content: space-evenly;
  border-radius: 16px;
  opacity: 0.8;
  gap: 0.7em;
  padding-top: 5em;

}


.dots {
display: none;

}
.BOX1 {
  border-radius: 16px;
  animation-name: drive;
  animation-duration: 4s;
  animation-fill-mode: ease-in-out;
  animation-iteration-count: infinite;
}


h3 {
  position: relative;
  right: 3em;
  top: 1.2em;
}
.button00 {
  position: relative;
  top: 1.2em;
  right: 1em;
}
h4 {
  position: relative;
  top: 5em;
  left: 1.2em;
}
.image222 {
  position: relative;
  top: 5em;
  right: 1em;
  background-color: #1d271f;
}

#main2 {
  color: white;
  position: relative;
  font-family: "poppins";
}
.mobile1{
display: none
}

.mobile2{
  display: none;
}

.mobile3{
display: none;
} 


.gettingstarted0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8em;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  
}
.gettingstarted {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
  color: white;
}

.gettingstarted-img {
  margin-right: 1em;
  background-color: none;
}
.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  max-width: 350px;
 
}
.pgettingstarted {
  max-width: 350px;
  height: 250px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 1em;
}

.ellipsebutton111 {
  width: 13em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.buycoins0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  
}
.buycoins {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
}

.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  max-width: 400px;
  color: #00ffa3;
  text-align: end;
}
.buycoinsp {
  max-width: 400px;
  height: 200px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: end;

  
}
.make-payment {
  margin-left: 1em;
}
.ellipsebutton1110{
  margin-left: 4em;
}

.buy-airtime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  

}
.buyairtimetext {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
  margin-top: 10em;
  color: white;
}
.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  max-width: 400px;
}
.buyairtimep {
  max-width: 350px;
  height: 200px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 1em;
}
.buyairtimepicture {
  margin-right: 1em;
}



.peoplecomment {
  position: relative;
  background-color: #192c25;
  padding: 1em 1em 8em 1em;
}
.commenttext {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  width: 100vw;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  padding-top: 1em;
  text-align: center;
}

.commentpics {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  
}
h5 {
  font-size: 24px;
}
.ajayi {
  padding: 2.5em 0.5em 1em 0.5em;
  background: #ffffff;
  border-radius: 16px;
  width: 16em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ajayiii {
  transition: all 0.2s linear;
}
.ajayiii:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.ajayiimg {
position: relative;
top: 2em;
}
.getupdate {
  color: white;
  margin-top: 5em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  
}
.updateh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
}
.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  width: 100vw;
  text-align: center;
}
.update-form {
  padding-top: 1em;
}
.input-form {
  height: 3em;
  width: 25em;
  border-radius: 20px;
  padding-left: 1em;
}
.subscribe-button {
  position: relative;
  right: 1.5em;
  height: 3em;
  width: 15em;
  padding: 0.8em;
  background-color: #00c566;
  color: white;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.subscribe-button:hover {
  background-color: white;
  color: black;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.footer {
  height: 45em;
  background: #154d39;
  width: 100vw;

}
.ham{
  display: none;
}
.mobileF{
  display: none;
}
.laptopp{
  display: flex;
  margin-left: 2em;
  padding-top: 5em;
  column-gap: 7em;

}
.sele{
  margin-left: 6em;
  color: #00ffa3;
}
.nav-lisst{
  list-style: none;
color: white;

}
.topp{
  color: white;
  display: flex;
   display: table;

}
.hh{
font-size: 22px;
text-align: center;

  
}
.bracket1{
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
 margin-top: -2em;
  
}
.ccc{
  font-size: 13px;
  margin-left: -2em;

}
.cooppyy{
  position: relative;
  bottom: 3em;
}
.iccon{
  display: flex;
  column-gap: 2em;
  margin-top: 10em;
}
.bracket2{
  display: table;

}





@media screen and (max-width: 1120px){



  .nav-list{
 
    padding: 1em;
    margin-top: 1.5em;
    background-color: #203425;
    height: 30px;
    align-items: center;
    border-width: 0.5px;
    border-color: #00ffa3 ;
    border-style: solid;
    border-radius: 1em;
    max-width: 400px;
    font-size: 12px;
  
  }
  

   
  .mobileview2{
    display: none;
  }

  .mobileview22{
    position: relative;
    left: 2em;
    top: 2em;
  }

  .button1 {
    border: none;
    width: 9em;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
    gap: 0.6em;
    align-items: center;
    font-size: 0.8em;
    margin-top: 0.1em;
    font-weight: 600;
    color: white;
    transition: all 0.2s linear;
    
  }
  .button1:hover {
    background-color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  
  .button2 {
    color: #01d072;
    font-size: 0.9em;
    width: 7em;
    text-align: center;
    margin-right: 3em;
    border-radius: 1em;
    height: 2.8em;
    margin-top: 0.1em;
    margin-right: 4em;
    border-width: 2px;
  border-style: solid;
  border-color: #00ffa3;
    transition: all 0.2s linear;
    background-color: black;
  }
  .button2:hover {
    background-color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
  }

  #frame1 {
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    position: relative;
  font-family: "poppins";
  height: 40em;
  width: 100vw;
  }
 

  .ellipses1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    position: relative;
    top: 7em;
  
  }


 .header1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 2em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}



.ellipsebutton111 {
  width: 11em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}



.img4 {
  position: relative;
   right: 5em;
  bottom: 10em; 
}
.img5 {
   position: relative;
  left: 17em;
  bottom: 10em; 
}
.img6 {
   position: relative;
  right: 7em;
  bottom: 9em; 
}
.ellipse2{

  position: relative;
  top: 60px;
}

.ellipsetext1 {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
 

}
.ellipsebutton1 {
  width: 11em;
  height: 3em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.75em 1.4em 0.75em 1.4em;
  font-size: 1.25em;
  font-weight: 600;
  color: white;
  transition: all 0.2s linear;
}
.ellipsebutton1:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.ellipsebutton2 {
  color: #01d072;
  font-size: 1.25em;
  width: 11em;
  background-color: black;
  border-radius: 1em;
  height: 3em;
  border-width: 1px;
  border-style: solid;
  border-color: #00ffa3;
  transition: all 0.2s linear;
}
.ellipsebutton2:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}
.boxx {
  display: flex;
  justify-content: flex-start;
  border-radius: 16px;
  opacity: 0.8;
  gap: 1em;
  margin-top: 6em;
overflow-x: scroll;
margin-left: 1em;
margin-right: 1em;

}

.gettingstarted0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8em;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  
}
.gettingstarted {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  color: white;
}

.gettingstarted-img {
  margin-right: -3em;
  background-color: none;
  transform: scale(0.8);
}
.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  max-width: 350px;
 
}
.pgettingstarted {
  max-width: 300px;
  height: 250px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 1em;
}

.ellipsebutton111 {
  width: 12em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.buycoins0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  
}
.buycoins {
  display: flex;
  flex-direction: column;
  margin-right: -0.5em;
}

.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  max-width: 350px;
  color: #00ffa3;
  text-align: end;
}
.buycoinsp {
  max-width: 350px;
  height: 150px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-align: end;

  
}
.make-payment {
  margin-left: -3em;
  transform: scale(0.8);
}
.ellipsebutton1110{
 position: relative;
 right: 1.2em;
}

.buy-airtime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  

}
.buyairtimetext {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-top: 10em;
  color: white;
}
.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  max-width: 350px;
}
.buyairtimep {
  max-width: 300px;
  height: 200px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 1em;
}
.buyairtimepicture {
  margin-right: -3em;
  transform: scale(0.8);
}


.commenttext {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  width: 100vw;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  padding-top: 1em;
  text-align: center;
}
h5 {
  font-size: 20px;
}
.ajayi {
  
  padding: 2em 0.5em 1em 0.5em;
  background: #ffffff;
  border-radius: 16px;
  width: 18em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.ajayiii {
  transition: all 0.2s linear;
}
.ajayiii:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.ajayiimg {
position: relative;
top: 2em;
}


.commentpics {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  gap: 1.5em;
  overflow-x: scroll;

}
.getupdate {
  color: white;
  margin-top: 4em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 4em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  
}
.updateh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
}
.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 100vw;
  text-align: center;
}
.footer {
  display: flex;
    flex-direction: row;
    height: 60em;
    background: #154d39;
    padding-top: 4em;
    color: white;
    position: relative;
    width: 100vw;
  
  }
 
  
  .framediv{
    display: flex ;
    justify-content: space-evenly;
    position: relative;
    left: 2.5em;

  
  }
  .iconssz{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    padding-top: 4em;
    padding-right: 4em;
  }
  .copyy{
    position: relative;
    right: 2em;
  }
  
  .footerp {
    position: relative;
    padding-top: 2em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .selenia22{
    font-size: 1em;
    font-weight: 700;
    color: #00ffa3;
    font-family: "poppins";
    margin-top: 1.5em;
    margin-left: 1.5em;
  }
  .frame02{
  display: flex;
  flex-direction: column;
  
  
  }
  .iconss{
    margin-left: 5em;
  }
  
  .copyy {
    color: white;
    font-size: 12px;
    margin-left: 2em;
  }
  .selenia-text {
    transform: translate(-60%, 0%);
  }
  .ham{
    display: none;
  }
  .selenia1{
    display: none;
  }


}









@media only screen  and (max-width: 950px){

    
  #frame1 {
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    position: relative;
  font-family: "poppins";
  height: 35em;
  width: 100vw;
  }
 

  .ellipses1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    position: relative;
    top: 7em;
  
  }


      
.img1 {
  position: relative;
  right: 7em;
  top: 3em;
  transform: scale(0.8);
  
   
  }
  .img2 {
  position: relative;
  left: 3em;
  transform: scale(0.8);
  }
  
  .img3 {
  position: relative;
  left: 7em;
  top: 2em;
  transform: scale(0.8);
  }

 .header1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 2em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.img4 {
  position: relative;
   right: 5em;
  bottom: 10em; 
  transform: scale(0.8);
}
.img5 {
   position: relative;
  left: 17em;
  bottom: 10em; 
  transform: scale(0.8);
}
.img6 {
   position: relative;
  right: 6em;
  bottom: 9em; 
  transform: scale(0.8);
}


.ellipse2{

  position: relative;
  top: 60px;
}

.ellipsetext1 {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
 

}

.ellipsebutton111 {
  width: 11em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.2em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.ellipsebutton1 {
  width: 10em;
  height: 3em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.75em 1.4em 0.75em 1.4em;
  font-size: 1.25em;
  font-weight: 600;
  color: white;
  transition: all 0.2s linear;
}
.ellipsebutton1:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.ellipsebutton2 {
  color: #01d072;
  font-size: 1.25em;
  width: 10em;
  background-color: black;
  border-radius: 1em;
  height: 3em;
  border-width: 1px;
  border-style: solid;
  border-color: #00ffa3;
  transition: all 0.2s linear;
}
.ellipsebutton2:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}
.boxx {
  display: flex;
  justify-content: flex-start;
  border-radius: 16px;
  opacity: 0.8;
  gap: 1em;
  margin-top: 3em;
overflow-x: scroll;
margin-left: 1em;
margin-right: 1em;

}




.gettingstarted0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8em;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  
}
.gettingstarted {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  color: white;
}

.gettingstarted-img {
  margin-right: -4.5em;
  background-color: none;
  transform: scale(0.7);
}
.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  max-width: 350px;
 
}
.pgettingstarted {
  max-width: 300px;
  height: 250px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 1em;
}

.ellipsebutton111 {
  width: 12em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.buycoins0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  
}
.buycoins {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  max-width: 350px;
  color: #00ffa3;
  text-align: end;
}
.buycoinsp {
  max-width: 350px;
  height: 150px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-align: end;

  
}
.make-payment {
  margin-left: -4.5em;
  transform: scale(0.7);
}
.ellipsebutton1110{
 position: relative;
 right: 1.2em;
}

.buy-airtime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  

}
.buyairtimetext {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  color: white;
  margin-bottom: 5em;
}
.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  max-width: 350px;
}
.buyairtimep {
  max-width: 300px;
  height: 200px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 1em;
}
.buyairtimepicture {
  margin-right: -4.5em;
  transform: scale(0.7);
}




.getupdate {
  color: white;
  margin-top: 4em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 4em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  
}
.updateh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
}
.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 100vw;
  text-align: center;
}
    



  .mobileview22{
    display: none;
   }
  
  .ham{
 display: block;
 
 padding: 10px 5px 5px 0;

  }
  .navigations , .nav2{
    display: none;
  }
  .nav-list{
    display: none;
  }

.burger{
  color: #00ffa3;
  transform: scale(1.8);
  margin-bottom: 1em;
}
.cancel{
  color: #00ffa3;
  transform: scale(1.8);
}


  


.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 45em;
  
}
.laptopp{
  display: none;
}

.mobileF{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.bracket2-M{
  display: flex;
  margin-top: 5em;
  column-gap: 4em;
  text-align: start;

}
.lissst{
  font-size: 28px;
}
.lisst{
  margin-top: 1.5em;
  font-size: 18px;
}
.icccon{
  display: inline-flex;
  column-gap: 2em;
  margin-top: 10em;
  position: relative;
  top: 5em;
}
.copyyy{
text-align: center;
}

  
}










@media only screen  and (max-width: 899px){

 
      
  #frame1 {
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    position: relative;
  font-family: "poppins";
  height: 35em;
  width: 100vw;
  }    


.img1 {
  position: relative;
  right: 7.5em;
  top: 3.5em;
  transform: scale(0.8);
  
   
  }
  .img2 {
  position: relative;
  left: 3em;
  top: 1em;
  transform: scale(0.7);
  }
  
  .img3 {
  position: relative;
  left: 7em;
  top: 2em;
  transform: scale(0.7);
  }

 .header1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 2em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.img4 {
  position: relative;
   right: 6em;
  bottom: 11em; 
  transform: scale(0.8);
}
.img5 {
   position: relative;
  left: 16em;
  bottom: 12em; 
  transform: scale(0.8);
}
.img6 {
   position: relative;
  right: 4em;
  bottom: 9em; 
  transform: scale(0.8);
}

.boxx {
  display: flex;
  justify-content: flex-start;
  border-radius: 16px;
  opacity: 0.8;
  gap: 1em;
  margin-top: 10em;
overflow-x: scroll;
margin-left: 1em;
margin-right: 1em;

}


.gettingstarted0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8em;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  
}
.gettingstarted {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  color: white;
}

.gettingstarted-img {
  margin-right: -4.5em;
  background-color: none;
  transform: scale(0.7);
}
.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  max-width: 300px;
 
}
.pgettingstarted {
  max-width: 300px;
  height: 250px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 1em;
}

.ellipsebutton111 {
  width: 10em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.buycoins0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  
}
.buycoins {
  display: flex;
  flex-direction: column;


}

.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  max-width: 250px;
  color: #00ffa3;
  text-align: end;
}
.buycoinsp {
  max-width: 250px;
  height: 150px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 40px;
  text-align: end;

  
}
.make-payment {
  margin-left: -4.5em;
  transform: scale(0.7);
}
.ellipsebutton1110{
 position: relative;
 right: 3.5em;
}

.buy-airtime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  font-family: "poppins";
  

}
.buyairtimetext {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  color: white;
  margin-bottom: 5em;
}
.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  max-width: 300px;
}
.buyairtimep {
  max-width: 300px;
  height: 150px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 1em;
}
.buyairtimepicture {
  margin-right: -4.5em;
  transform: scale(0.7);
}




.getupdate {
  color: white;
  margin-top: 4em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 4em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  
}
.updateh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 100vw;
  text-align: center;
}
    
.copyy {
  color: white;
  font-size: 12px;
  position: relative;
    left: 6em;
  top: 3em;
}




  


.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 55em;
  
}





}









@media only screen  and (max-width: 800px){

  #frame1 {
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    position: relative;
  font-family: "poppins";
  height: 40em;
  width: 100vw;
    
  }
 
  .ellipsetext1{
    position: relative;
    
  }

  .ellipsebutton1 {
    width: 9em;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.75em 1.4em 0.75em 1.4em;
    font-size: 1em;
    font-weight: 600;
    color: white;
    transition: all 0.2s linear;
  }
  .ellipsebutton1:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton2 {
    color: #01d072;
    font-size: 1.25em;
    width: 8em;
    background-color: black;
    border-radius: 1em;
    height: 3em;
    font-size: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #00ffa3;
    transition: all 0.2s linear;
  }
  .ellipsebutton2:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    background-color: white;
  }



  .img1 {
    position: relative;
    right: 5em;
    top: 3em;
    transform: scale(0.6);
    
     
    }
    .img2 {
    position: relative;
    left: 3em;
    top: 1em;
    transform: scale(0.4);
    }
    
    .img3 {
    position: relative;
    left: 6em;
    top: 2em;
    transform: scale(0.6);
    }
  
   .header1 {
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    margin-top: 2em;
    
  }
  
  .para1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
  }
  
  .img4 {
    position: relative;
     right: 5em;
    bottom: 12em; 
    transform: scale(0.6);
  }
  .img5 {
     position: relative;
    left: 13em;
    bottom: 12em; 
    transform: scale(0.6);
  }
  .img6 {
     position: relative;
    left: 7em;
    bottom: 10em; 
    transform: scale(0.6);
  }
  .BOX1{
    transform: scale(0.9);
  }
  
  .boxx {
    display: flex;
    justify-content: flex-start;
    border-radius: 16px;
    opacity: 0.8;
    gap: 1em;
    margin-top: 2em;
  overflow-x: scroll;
  margin-left: 1em;
  margin-right: 1em;
  
  }

    
  .updateh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
  }
  .updatep {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 100vw;
    text-align: center;
 
  }
      
  


  .gettingstarted0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8em;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    font-family: "poppins";
    
  }
  .gettingstarted {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    color: white;
  }
  
  .gettingstarted-img {
    margin-right: -5.5em;
    background-color: none;
    transform: scale(0.6);
  }
  .h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    max-width: 200px;
   
  }
  .pgettingstarted {
    max-width: 300px;
    height: 250px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 1em;
  }
  
  .ellipsebutton111 {
    width: 10em;
    height: 2.5em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.5em 1.4em 0.5em 1.4em;
    gap: 0.6em;
    align-items: center;
    font-size: 1.3em;
    transition: all 0.2s linear;
    font-weight: 600;
    color: white;
  }
  
  .ellipsebutton111:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .buycoins0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    font-family: "poppins";
    
  }
  .buycoins {
    display: flex;
    flex-direction: column;
    margin-left: -0.5em;
  
  }
  
  .buycoinstexth1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    max-width: 200px;
    color: #00ffa3;
    text-align: end;
  }
  .buycoinsp {
    max-width: 200px;
    height: 200px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 40px;
    text-align: end;
  
    
  }
  .make-payment {
    margin-left: -5.5em;
    transform: scale(0.6);
  }
  .ellipsebutton1110{
   position: relative;
   right: 3.5em;
  }
  
  .buy-airtime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    font-family: "poppins";
    
  
  }
  .buyairtimetext {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    color: white;
    margin-bottom: 5em;
  }
  .buyairtimeh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    max-width: 300px;
  }
  .buyairtimep {
    max-width: 300px;
    height: 150px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 1em;
  }
  .buyairtimepicture {
    margin-right: -5.5em;
    transform: scale(0.6);
  }
  





  
  
  .getupdate {
    color: white;
    margin-top: 4em;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 4em;
    background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    
  }
  

  


.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 55em;
  
}


   
}







@media only screen  and (max-width: 738px){

  #frame1 {
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    position: relative;
  font-family: "poppins";
  height: 35em;
  width: 100vw;
    
  }
  #frame2{
    padding-top: 3em;
  }
  
  

  

  .gettingstarted0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8em;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    font-family: "poppins";
    
  }
  .gettingstarted {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    color: white;
  }
  
  .gettingstarted-img {
    margin-right: -5.5em;
    background-color: none;
    transform: scale(0.6);
  }
  .h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    max-width: 200px;
   
  }
  .pgettingstarted {
    max-width: 300px;
    height: 250px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 1em;
  }
  
  .ellipsebutton111 {
    width: 10em;
    height: 2.5em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.5em 1.4em 0.5em 1.4em;
    gap: 0.6em;
    align-items: center;
    font-size: 1.3em;
    transition: all 0.2s linear;
    font-weight: 600;
    color: white;
  }
  
  .ellipsebutton111:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .buycoins0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    font-family: "poppins";
    
  }
  .buycoins {
    display: flex;
    flex-direction: column;
    margin-left: -4em;
  
  }
  
  .buycoinstexth1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    max-width: 200px;
    color: #00ffa3;
    text-align: end;
  }
  .buycoinsp {
    max-width: 200px;
    height: 200px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 40px;
    text-align: end;
  
    
  }
  .make-payment {
    margin-left: -5.5em;
    transform: scale(0.6);
  }
  .ellipsebutton1110{
   position: relative;
   right: 3.5em;
  }
  
  .buy-airtime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    font-family: "poppins";
    
  
  }
  .buyairtimetext {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    color: white;
    margin-bottom: 5em;
  }
  .buyairtimeh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    max-width: 300px;
  }
  .buyairtimep {
    max-width: 300px;
    height: 150px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 1em;
  }
  .buyairtimepicture {
    margin-right: -5.5em;
    transform: scale(0.6);
  }
  




  .getupdate{
    padding-top: 100px;
  }
  .footer{
    height: 55em;
  }
  .laptopp{
    display: none;
  }
  
  .mobileF{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .bracket2-M{
    display: flex;
    margin-top: 5em;
    column-gap: 3em;
    text-align: start;
  
  }
  .lissst{
    font-size: 24px;
  }
  .lisst{
    margin-top: 1.5em;
    font-size: 18px;
  }
  .icccon{
    display: inline-flex;
    column-gap: 2em;
    margin-top: 10em;
    position: relative;
    top: 5em;
  }
  .copyyy{
  text-align: center;
  }
  




}









@media only screen  and (max-width: 680px){

  #frame1 {
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    position: relative;
  font-family: "poppins";
  height: 50em;
  width: 100vw;
    
  }
  #frame2{
    padding-top: 3em;
  }
  
  

  

  .gettingstarted0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8em;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    font-family: "poppins";
    
  }
  .gettingstarted {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    color: white;
  }
  
  .gettingstarted-img {
    margin-right: -5.5em;
    background-color: none;
    transform: scale(0.6);
  }
  .h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    max-width: 200px;
   
  }
  .pgettingstarted {
    max-width: 300px;
    height: 300px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 1em;
  }
  
  .ellipsebutton111 {
    width: 9em;
    height: 2.5em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.5em 1.4em 0.5em 1.4em;
    gap: 0.6em;
    align-items: center;
    font-size: 1.2em;
    transition: all 0.2s linear;
    font-weight: 600;
    color: white;
  }
  
  .ellipsebutton111:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .buycoins0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    font-family: "poppins";
    
  }
  .buycoins {
    display: flex;
    flex-direction: column;
    margin-left: -3em;
  
  }
  
  .buycoinstexth1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    max-width: 160px;
    color: #00ffa3;
    text-align: end;
  }
  .buycoinsp {
    max-width: 160px;
    height: 200px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 40px;
    text-align: end;
  
    
  }
  .make-payment {
    margin-left: -8.5em;
    transform: scale(0.5);
  }
  .ellipsebutton1110{
   position: relative;
   right: 4.5em;
  }
  
  .buy-airtime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    font-family: "poppins";
    
  
  }
  .buyairtimetext {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    color: white;
    margin-bottom: 5em;
  }
  .buyairtimeh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    max-width: 300px;
  }
  .buyairtimep {
    max-width: 300px;
    height: 150px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 1em;
  }
  .buyairtimepicture {
    margin-right: -5.5em;
    transform: scale(0.6);
  }
  




  .getupdate{
    padding-top: 100px;
  }
  .footer{
    height: 55em;
  }





}

