


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li a{
  text-decoration: none;
  color: white;
}

#home-container {
  overflow-x: hidden;
  background-color: #1A211E; 
font-family: "poppins";
overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
 background-color: #1A211E;
 height: 6em;
 position: relative;
 top: 50px;
 padding-top: 1.5em;
 
}

.headerr{
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
 background-color: #1A211E;
 height: 8em;
 position: relative;
bottom: 1em;
}

.seleniaa-text {
  font-size: 1em;
  font-weight: 700;
  color: #00ffa3;
  padding-left: 2em;
  padding-top: 0.3em;
  font-family: "poppins";
}

.selenia-text {
  font-size: 1em;
  font-weight: 700;
  color: #00ffa3;
  padding-left: 4em;
  padding-top: 0.3em;
}

.navigation {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  align-items: center;

}

.navigations-list {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em 1em 1.5em;
  background-color: #203224;
  text-decoration: none;
  list-style: none;
  border-radius: 20px;
  color: white;
}
.list {
  transition: all 0.2s linear;
  color: white;
}
.list:hover {
  color: #00ffa3;
}

.nav2 {
  display: flex;
  column-gap: 0.5em;
}
  button{
    border: none;}
.button1 {
  border: none;
  width: 9em;
  height: 3em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.75em 1.4em 0.75em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1em;
  margin-top: 0.1em;
  font-weight: 600;
  color: white;
  transition: all 0.2s linear;
  
}
.button1:hover {
  background-color: white;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.button2 {
  color: #01d072;
  font-size: 1em;
  width: 7em;
  text-align: center;
  margin-right: 3em;
  border-radius: 1em;
  height: 3em;
  margin-top: 0.1em;
  margin-right: 4em;
  border-color: #00c566;
  transition: all 0.2s linear;
  background-color: black;
}
.button2:hover {
  background-color: white;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}


.main1{
  position: relative;
  background-color: #1a211e;
  font-family: "poppins";
  padding-bottom: 2.5em;
  
}

#frame1 {
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  color: white;
  position: relative;
font-family: "poppins";
height: 100vh;
width: 100vw;
}
.ellipses1 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;

}
span {
  color: #00c566;
}

.mobilee{
display: none;
}



.img1 {
   position: relative;
  left: 13em;
  top: 12.5em;
 
}
.img2 {
  position: relative;
  left: 3em;
  top: 10em;
}

.img3 {
   position: relative;
top: 11em;
right: 11em;

}
.ellipsetext1 {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;

}
.header1 {
  font-size: 64px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 2em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}
.ellipsebutton1 {
  width: 12em;
  height: 3em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.75em 1.4em 0.75em 1.4em;
  font-size: 1.25em;
  font-weight: 600;
  color: white;
  transition: all 0.2s linear;
}
.ellipsebutton1:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.ellipsebutton2 {
  color: #01d072;
  font-size: 1.25em;
  width: 12em;
  background-color: black;
  border-radius: 1em;
  height: 3em;
  border-color: #00ffa3;
  transition: all 0.2s linear;
}
.ellipsebutton2:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.buttons1 {
justify-content: center;
  width: 100vw;
  display: flex;
column-gap: 3em;
margin-top: 3em;
}

.ellipse2 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}
.img4 {
  position: relative;
  left: 15em;
  bottom: 26em; 
}
.img5 {
   position: relative;
  left: 22em;
  bottom: 26em; 
}
.img6 {
   position: relative;
  right: 13em;
  bottom:25em; 
}


.boxx {
  display: flex;
  justify-content: space-evenly;
  border-radius: 16px;
  opacity: 0.8;
  gap: 0.7em;
  padding-top: 3em;
}

.dots {
display: none;

}
.BOX1 {
  border-radius: 16px;
 
}

h3 {
  position: relative;
  right: 3em;
  top: 1.2em;
}
.button00 {
  position: relative;
  top: 1.2em;
  right: 1em;
}
h4 {
  position: relative;
  top: 5em;
  left: 1.2em;
}
.image222 {
  position: relative;
  top: 5em;
  right: 1em;
  background-color: #1d271f;
}

#main2 {
  color: white;
  position: relative;
  font-family: "poppins";
}
.mobile1{
display: none;
}

.mobile2{
  display: none;
}

.mobile3{
display: none;
} 


.gettingstarted0 {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100vw;
  justify-content: space-between;
  margin-top: 8em;
background: radial-gradient(closest-corner at 700px 450px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
  color: white;
  font-family: "poppins";
  
}
.gettingstarted {
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translate(5%, 30%);
  color: white;
}

.gettingstarted-img {
  width: 100%;
  transform: translate(25%, 0%);
}
.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
}
.pgettingstarted {
  width: 572px;
  height: 120px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 1em;
}

.ellipsebutton111 {
  width: 13em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.buycoins0 {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100vw;
  justify-content: space-between;
  background: radial-gradient(closest-corner at 700px 400px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
}
.buycoins {
  display: flex;
  flex-direction: column;
  transform: translate(-5%, 40%);
}
.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #00ffa3;
}
.buycoinsp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
}
.make-payment {
  transform: translate(5%, 0%);
}

.buy-airtime {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100vw;
  justify-content: space-between;
  background: radial-gradient(closest-corner at 700px 550px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
padding-bottom: 10em;

}
.buyairtimetext {
  display: flex;
  flex-direction: column;
  transform: translate(5%, 40%);
  color: white;
}
.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  width: 15em;
}
.buyairtimep {
  width: 572px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
}
.buyairtimepicture {
  transform: translate(-20%, 0%);
}



.peoplecomment {
  position: relative;
  background-color: #192c25;
  padding: 1em 1em 8em 1em;
}
.commenttext {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  width: 100vw;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  padding-top: 1em;
  text-align: center;
}

.commentpics {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  
}
h5 {
  font-size: 24px;
}
.ajayi {
  padding: 2.5em 0.5em 1em 0.5em;
  background: #ffffff;
  border-radius: 16px;
  width: 16em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ajayiii {
  transition: all 0.2s linear;
}
.ajayiii:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.ajayiimg {
position: relative;
top: 2em;
}
.getupdate {
  color: white;
  margin-top: 5em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  
}
.updateh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
}
.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  width: 100vw;
  text-align: center;
}
.update-form {
  padding-top: 1em;
}
.input-form {
  height: 3em;
  width: 25em;
}
.subscribe-button {
  position: relative;
  right: 1.5em;
  height: 3.5em;
  width: 15em;
  padding: 0.8em;
  background-color: #00c566;
  color: white;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.subscribe-button:hover {
  background-color: white;
  color: black;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.footer {
display: flex;
  flex-direction: row;
  height: 80vh;
  background: #154d39;
  padding-top: 4em;
  color: white;
  position: relative;
  width: 100vw;

}
.footer-head{
  margin-left: 5em;
}

.framediv{
  display: flex ;
  justify-content: center;
  width: 100vw;
  column-gap: 3em;
}
.iconss {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  padding-top: 4em;
  padding-right: 4em;
  
}

.footerp {
  position: relative;
  padding-top: 2em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.selenia22{
  font-size: 1em;
  font-weight: 700;
  color: #00ffa3;
  font-family: "poppins";
  margin-top: 1.5em;
  margin-left: 2em;
}
.frame02{
display: flex;
flex-direction: column;


}

.copyy {
  color: white;
  font-size: 12px;
}
.selenia-text {
  transform: translate(-60%, 0%);
}
.ham{
  display: none;
}
.selenia1{
  display: none;
}

a{
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
}





@media screen and (max-width: 1350px){


  .img1 {
    position: relative;
   left: 9em;
   top: 11em;
  
 }
 .img2 {
   position: relative;
   left: 4em;
   top: 9em;
 }
 
 .img3 {
    position: relative;
 top: 10em;
 right: 9em;
 
 }


 .header1 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 2em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.img4 {
  position: relative;
  left: 13em;
  bottom: 33em; 
}
.img5 {
   position: relative;
  left: 20em;
  bottom: 32em; 
}
.img6 {
   position: relative;
  right: 12em;
  bottom: 32em; 
}

.buttons1 {
  justify-content: center;
    width: 100vw;
    display: flex;
  column-gap: 3em;
  padding-top: 2em;
  }

  .boxx {
    display: flex;
    justify-content: space-evenly;
    border-radius: 16px;
    opacity: 0.8;
    gap: 0.5em;
    padding-top: 3em;
  }
  .h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
  }
  .pgettingstarted {
    width: 572px;
    height: 120px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 4em;
  }

  
.ellipsebutton111 {
  width: 13em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
  margin-top: 1em;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}
  
}















@media screen and (max-width: 1100px){

  .button1 {
    border: none;
    width: 9em;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
    gap: 0.6em;
    align-items: center;
    font-size: 0.8em;
    margin-top: 0.1em;
    font-weight: 600;
    color: white;
    transition: all 0.2s linear;
    
  }
  .button1:hover {
    background-color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  
  .button2 {
    color: #01d072;
    font-size: 0.9em;
    width: 7em;
    text-align: center;
    margin-right: 3em;
    border-radius: 1em;
    height: 2.8em;
    margin-top: 0.1em;
    margin-right: 4em;
    border-color: #00c566;
    transition: all 0.2s linear;
    background-color: black;
  }
  .button2:hover {
    background-color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  #frame1 {
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    position: relative;
  font-family: "poppins";
  height: 100vh;
  width: 100vw;
  }
  .img1 {
    position: relative;
   left: 8em;
   top: 9em;
  
 }
 .img2 {
   position: relative;
   left: 3em;
   top: 7em;
 }
 
 .img3 {
    position: relative;
 top: 8em;
 right: 5em;
 
 }


 .header1 {
  font-size: 45px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 2em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.img4 {
  position: relative;
  left: 8em;
  bottom: 8em; 
}
.img5 {
   position: relative;
  left: 17em;
  bottom: 7.5em; 
}
.img6 {
   position: relative;
  right: 7em;
  bottom: 7em; 
}

.ellipsetext1 {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;

}
.ellipsebutton1 {
  width: 10em;
  height: 3em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.75em 1.4em 0.75em 1.4em;
  font-size: 1.25em;
  font-weight: 600;
  color: white;
  transition: all 0.2s linear;
}
.ellipsebutton1:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.ellipsebutton2 {
  color: #01d072;
  font-size: 1.25em;
  width: 10em;
  background-color: black;
  border-radius: 1em;
  height: 3em;
  border-color: #00ffa3;
  transition: all 0.2s linear;
}
.ellipsebutton2:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}
.boxx {
  display: flex;
  justify-content: flex-start;
  border-radius: 16px;
  opacity: 0.8;
  gap: 1em;
  padding-top: 3em;
overflow-x: scroll;
margin-left: 1em;
margin-right: 1em;
}

.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
.pgettingstarted {
  width: 18em;
  height: 120px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 4em;
}

.gettingstarted-img {
  width: 100%;
  transform: translate(10%, 0%);
}
.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #00ffa3;
}
.buycoinsp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;

}
.buyairtimep {
  width: 18em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}
.buyairtimepicture {
margin-right: -30em;
}

.commenttext {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  width: 100vw;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  padding-top: 1em;
  text-align: center;
}
h5 {
  font-size: 20px;
}
.ajayi {
  
  padding: 2em 0.5em 1em 0.5em;
  background: #ffffff;
  border-radius: 16px;
  width: 18em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.ajayiii {
  transition: all 0.2s linear;
}
.ajayiii:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.ajayiimg {
position: relative;
top: 2em;
}


.commentpics {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  gap: 1.5em;
  overflow-x: scroll;

}
.getupdate {
  color: white;
  margin-top: 4em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 4em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  
}
.updateh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
}
.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 100vw;
  text-align: center;
}
.footer {
  display: flex;
    flex-direction: row;
    height: 80vh;
    background: #154d39;
    padding-top: 4em;
    color: white;
    position: relative;
    width: 100vw;
  
  }
 
  
  .framediv{
    display: flex ;
    justify-content: space-evenly;
    position: relative;
    left: 2.5em;

  
  }
  .iconss {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    padding-top: 4em;
    padding-right: 4em;
  }
  .copyy{
    position: relative;
    right: 2em;
  }
  
  .footerp {
    position: relative;
    padding-top: 2em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .selenia22{
    font-size: 1em;
    font-weight: 700;
    color: #00ffa3;
    font-family: "poppins";
    margin-top: 1.5em;
    margin-left: 1.5em;
  }
  .frame02{
  display: flex;
  flex-direction: column;
  
  
  }
  
  .copyy {
    color: white;
    font-size: 12px;
    margin-left: 1em;
  }
  .selenia-text {
    transform: translate(-60%, 0%);
  }
  .ham{
    display: none;
  }
  .selenia1{
    display: none;
  }


}








@media screen and (max-height: 1400px){





  #frame1 {
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    position: relative;
  font-family: "poppins";
  height: 80vh;
  width: 100vw;
  }
  .img1 {
    position: relative;
   left: 10em;
   top: 8em;
  
  }
  .img2 {
   position: relative;
   left: 3em;
   top: 7em;
  }
  
  .img3 {
    position: relative;
  top: 9em;
  right: 7em;
  
  }
  
  
  .header1 {
  font-size: 45px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  
  }
  
  .para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  }
  
  .img4 {
  position: relative;
  left: 8em;
  bottom: 12em; 
  }
  .img5 {
   position: relative;
  left: 17em;
  bottom: 11em; 
  }
  .img6 {
   position: relative;
  right: 9em;
  bottom: 9em; 
  }
  
  .ellipsetext1 {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  height: 55vh;

  
  }
  
  
  .footer {
    display: flex;
      flex-direction: row;
      height: 70vh;
      background: #154d39;
      padding-top: 4em;
      color: white;
      position: relative;
      width: 100vw;
    
    }
  
  




}









@media only screen  and (max-width: 950px){
  .ham{
 display: block;
 background: #00ffa3;
 padding: 10px;
 color: green;
  }
  .navigations , .nav2{
    display: none;
  }
  .nav-list{
    display: none;
  }

  #frame1 {
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    color: white;
    position: relative;
  font-family: "poppins";
  height: 70vh;
  width: 100vw;
  }
  .mobilee{
    display: none;
    }
    

    
  .img1 {
    position: relative;
   left: 5em;
   top: 15em;
  
 }
 .img2 {
   position: relative;
   left: 3em;
   top: 13em;
 }
 
 .img3 {
    position: relative;
 top: 14em;
 right: 5em;
 
 }


 .header1 {
  font-size: 44px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 4em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.img4 {
  position: relative;
  left: 6em;
  bottom: 70em; 
}
.img5 {
   position: relative;
  left: 19em;
  bottom: 71em; 
}
.img6 {
   position: relative;
  right: 2em;
  bottom: 69em; 
}
#main2 {
  color: white;
  position: relative;
  font-family: "poppins";
  padding-top: 10em;
}

.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}
.pgettingstarted {
  width: 18em;
  height: 120px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 4em;
}

.gettingstarted-img {
  width: 100%;
  transform: translate(0%, 0%);
}
.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #00ffa3;
}
.buycoinsp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}
.buycoins{
margin-left: 3em;
}
.make-payment {
position: relative;
right: 4em;
}

.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  width: 13em;

}
.buyairtimep {
  width: 18em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}
.buyairtimepicture {
position: relative;
right: 2em;
top: 4em;
}

.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 70vh;
}
.framediv{
  display: flex ;
  justify-content: space-evenly;
margin-left: auto;
margin-right: auto;
}
.selenia22{
  font-size: 1em;
  font-weight: 700;
  color: #00ffa3;
  font-family: "poppins";
  margin-top: 3em;
  margin-left: auto;
margin-right: auto;
padding-left: 1.8em;
}
.iconss {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  position: relative;
  left: 2em;
  top: 1em;
}
.copyy {
  color: white;
  font-size: 12px;
  position: relative;
   left: 0.1em;
  top: 3em;
}



  
}










@media only screen  and (max-width: 850px){



  .img1 {
    position: relative;
   left: 3em;
   top: 14em;
  
 }
 .img2 {
   position: relative;
   left: 3em;
   top: 11em;
 }
 
 .img3 {
    position: relative;
 top: 12em;
 right: 2em;
 
 }


 .header1 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 4em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.img4 {
  position: relative;
  left: 3em;
  bottom: 19em; 
}
.img5 {
   position: relative;
  left: 17em;
  bottom: 19em; 
}
.img6 {
   position: relative;
  right: 2em;
  bottom: 17em; 
}


.ellipsebutton111 {
  width: 9em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}


#main2 {
  color: white;
  position: relative;
  font-family: "poppins";
}

.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
.pgettingstarted {
  width: 18em;
  height: 120px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 4em;
}

.gettingstarted-img {
  width: 100%;
  transform: translate(-5%, 0%);
}
.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #00ffa3;
}
.buycoinsp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

.make-payment {
position: relative;
right: 8em;
}

.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  width: 13em;

}
.buyairtimep {
  width: 18em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}
.buyairtimepicture {
position: relative;
right: 1em;
top: 4em;
}
.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 80vh;
}
.footer-head{
  position: relative;
  right: 10px;
}
.copyy{
  position: relative;
  left: 10px;
}
.selenia22{
  position: relative;
  right: 10px;
}
}







@media only screen  and (max-width: 700px){

  .img1 {
    position: relative;
   left: 2em;
   top: 10em;
  
 }
 .img2 {
   position: relative;
   left: 3em;
   top: 8em;
 }
 
 .img3 {
    position: relative;
 top: 9em;
 right: 1em;
 
 }


 .header1 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 4em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.img4 {
  position: relative;
  left: 1em;
  bottom: 25em; 
}
.img5 {
   position: relative;
  left: 11em;
  bottom: 26em; 
}
.img6 {
   position: relative;
  right: 1em;
  bottom: 25em; 
}


.ellipsebutton111 {
  width: 9em;
  height: 3em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}


#main2 {
  color: white;
  position: relative;
  font-family: "poppins";
}

.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
}
.pgettingstarted {
  width: 18em;
  height: 120px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 4em;
}

.gettingstarted-img {
  width: 100%;
  transform: translate(0%, 0%);
}
.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #00ffa3;
}
.buycoinsp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.make-payment {
position: relative;
right: 15em;
}

.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  width: 10em;

}
.buyairtimep {
  width: 18em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}
.buyairtimepicture {
position: relative;
top: 4em;
}
.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 80vh;
}
.getupdate {
  color: white;
  margin-top: 4em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 4em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  
}
.updateh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 100vw;
  text-align: center;
}

.update-form {
  padding-top: 1em;
}
.input-form {
  height: 3em;
  width: 24em;
}
.subscribe-button {
  position: relative;
  right: 1.5em;
  height: 3.5em;
  width: 12em;
  padding: 0.8em;
  background-color: #00c566;
  color: white;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.subscribe-button:hover {
  background-color: white;
  color: black;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}





}








