* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.featurespage{
    overflow-x: hidden;
    overflow-y: hidden;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);

}
