


@media screen and (max-width: 550px) {

  .ham{
    height: 3em;
    position: relative;
    bottom: 0.5em;
  }
  .header{
    height: 5em;
  }
    .seleniaa-text {
        font-size: 16px;
        font-weight: 700;
        color: #00ffa3;
        padding-left: 1.5em;
        position: relative;
       
        font-family: "poppins";
      }
  
#frame1 {
   background: #1A211E;
    color: white;
    position: relative;
  font-family: "poppins";
  height: 65vh;
  margin-bottom: 5em;

  }
  
.mobilee{
display: block;
}

.mobileellipses{
  display: flex;
  width: 100vw;
  justify-content: space-between;
position: relative;
top: 6em;

}
.mobileellipses2{
  display: flex;
  width: 100vw;
  justify-content: space-between;
position: relative;
top: 20em;
}
.mobilebitcoin{
  position: relative;
  top: 4em;
  left: 1em;
}
.mobilesmalldollar{
  position: relative;
  top: 3em;
  left: 0em;
}
.mobiledollarm{
  position: relative;
  top: 4em;
  right: 1em;
}
.mobilet{
  position: relative;
  left: 1.5em;
  bottom: 1.5em;
}
.mobilediamond{
  position: relative;
  right: 1em;
  bottom: 1.5em;
}
.main1{
    background-color: #1a211e;
    font-family: "poppins";
  }
  
.ellipsetext1 {
    margin-left: auto;
    margin-right: auto;
    

  }


  .header1 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
  }



  .para1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    text-align: center;
    margin-top: 1em;
    
  }

  
.ellipsebutton1 {
    width: 150px;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    transition: all 0.2s linear;
    margin-left: 1.5em;
  }
  .ellipsebutton1:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton2 {
    color: #01d072;
    font-size: 12px;
    width: 150px;
    text-align: center;
    background-color: black;
    border-radius: 1em;
    height: 3.2em;
    border-color: #00ffa3;
    transition: all 0.2s linear;
    border-style: solid;
    border-width: 1px;
    margin-right: 1.5em;
  }
  .ellipsebutton2:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .buttons1 {
    text-align: center;
    display: flex;
    position: relative;
    bottom: 2em;

  }
  .ellipses1{
    display: none;
  }
  .ellipse2{
    display: none;
  }


.boxx {
    display: flex;
    justify-content: flex-start;
    border-radius: 16px;
    opacity: 0.8;
    gap: 1em;
 padding-bottom: 1em;
  overflow-x: scroll;

  }
  .dots {
display: none;
  
  }

  .box-head{
    background-color:  #1A211E;
    position: relative;
    overflow-y: none;
  }

.gettingstarted-img{
    display: none;
}
.mobile1{
    display: inline;
position: relative;

}

#main2{
    width: 100vh;

}


.gettingstarted{
  position: relative;
  bottom: 5em;
  left: 0.5em;
}

.h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }

  .pgettingstarted {
    width: 16em;
    height: 13em;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    
  }

  .gettingstarted0 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
  background: radial-gradient(closest-corner at 700px 450px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
    color: white;
    font-family: "poppins";
    position: relative;
    bottom: 8em;
  }

  .ellipsebutton111 {
    width: 140px;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
    font-size: 12px;
    margin-top: 0.1em;
    transition: all 0.2s linear;
    font-weight: 600;
    color: white;
  }
  
  .ellipsebutton111:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
.buycoins0 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    height: 70vh;
    justify-content: space-between;
    background: radial-gradient(closest-corner at 700px 400px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
    position: relative;



  
  }
  .buycoins {
    display: flex;
    flex-direction: column;
    transform: translate(0%, 15%);
    
  }
  .buycoinstexth1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
   
  }
  .buycoinsp {
     height: 11em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    position: relative;

  }
.makepaymentmobile{
display: none;
}
.mobile2{
    display: inline;
    padding-left: 1.2em;
    margin-top: 5em;
}
.buyairtimepicture{
    display: none;
}
.mobileview2{
  display: none;
}

.buy-airtime {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    justify-content: space-between;
    background: radial-gradient(closest-corner at 700px 550px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
    


  }
  .buyairtimetext {
    display: flex;
    flex-direction: column;
    color: white;
  }
  .buyairtimeh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    width: 12em;
  }
  .buyairtimep {
    width: 18em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  
  }
.mobile3{
    display: inline;
    position: relative;
  left: 10px;
 
}
.commenttext{
  font-size: 18px;
padding-right: 40px;
}

.commentpics {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    gap: 1.5em;
    overflow-x: scroll;
    overflow-y: hidden;

  }

  h5 {
    font-size: 18px;
  }


  .ajayi {
    padding: 2em 0.5em 2em 0.5em;
    background: #ffffff;
    border-radius: 16px;
    width: 18em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
 
  .ajayiimg {
    position: relative;
    top: 2em;
  }
.updateh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }

  .getupdate {
    color: white;
    margin-top: 4em;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 8em;
    background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    
  }
  
.updatep {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 100vw;
    text-align: center;
  }
  
.update-form {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    margin-left: 1em;
  }
  .input-form {
    height: 2.5em;
    width: 20em;
    border-radius: 8px;
   
  }
  .subscribe-button {
    position: relative;
    right: 1.5em;
    height: 2.5em;
    width: 7em;
    padding: 0.5em;
    background-color: #00c566;
    color: white;
    border-radius: 8px;
    transition: all 0.2s linear;
  }
  .subscribe-button:hover {
    background-color: white;
    color: black;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }


.footer-head{
position: relative;
bottom: 1em;
display: block;
right: 1.3em;
}
.footerp{
  font-size: 10px;
 
}
.mobileview2{
  display: inline;
}

.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 75vh;
}
.framediv{
  display: flex ;
  justify-content: space-evenly;
margin-left: auto;
margin-right: auto;


}
.selenia22{
  font-size: 1em;
  font-weight: 700;
  color: #00ffa3;
  font-family: "poppins";
  margin-top: 3em;
  margin-left: auto;
margin-right: auto;
position: relative;
right: 1em;
}
.iconss {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  position: relative;
  top: 1em;
}
.copyy {
  color: white;
  font-size: 12px;
  position: relative;
   left: 0.1em;
  top: 3em;
}

.frame02{
  margin-top: 1em;
}

 .frame002{
  position: relative;
  left: 6em;
 }

 .frame003{
  position: relative;
  right: 5em;
 }


  
  }





  @media screen and (max-width: 430px){
   
    .frame002{
      position: relative;
      left: 7em;
    
     }
    
     .frame003{
      position: relative;
      right: 6em;
    
     }
  
  }

















  @media screen and (max-width: 400px) {




    

.gettingstarted{
  position: relative;
  bottom: 5em;

}

.h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }

  .pgettingstarted {
    width: 15em;
    height: 13em;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    
  }

  .gettingstarted0 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
  background: radial-gradient(closest-corner at 700px 450px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
    color: white;
    font-family: "poppins";
    position: relative;
    bottom: 8em;
    right: 0.5em;
  }

  .ellipsebutton111 {
    width: 120px;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
    font-size: 12px;
    margin-top: 0.1em;
    transition: all 0.2s linear;
    font-weight: 600;
    color: white;
  }
  
  .ellipsebutton111:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
.buycoins0 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    height: 70vh;
    justify-content: space-between;
    background: radial-gradient(closest-corner at 700px 400px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
    position: relative;
 


  
  }
  .buycoins {
    display: flex;
    flex-direction: column;
    transform: translate(-5%, 15%);
  }
  .buycoinstexth1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
   
  }
  .buycoinsp {
     height: 11em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    position: relative;

  }
.makepaymentmobile{
display: none;
}
.mobile2{
    display: inline;
    padding-left: 1.2em;
    margin-top: 5em;
}
.buyairtimepicture{
    display: none;
}
.mobileview2{
  display: none;
}

.buy-airtime {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    justify-content: space-between;
    background: radial-gradient(closest-corner at 700px 550px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
  padding-bottom: 5em;
  position: relative;
  padding-left: 10px;
  }
  .buyairtimetext {
    display: flex;
    flex-direction: column;
    transform: translate(0%, 0%);
    color: white;
  }
  .buyairtimeh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    width: 12em;
  }
  .buyairtimep {
    width: 16em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  
  }
.mobile3{
    display: inline;
    position: relative;
    bottom: 3em;
    
}
.commenttext{
  font-size: 18px;
padding-right: 40px;
}


.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 80vh;
}
.iconss {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  position: relative;
  top: 1em;
}
.copyy {
  color: white;
  font-size: 12px;
  position: relative;
   left: 0.1em;
  top: 3em;
}
.frame002{
  position: relative;
  left: 7em;

 }

 .frame003{
  position: relative;
  right: 6em;

 }
 .getupdate {
  color: white;
  margin-top: 4em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 8em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  
}

.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  width: 100vw;
  text-align: center;
}


  }
















  @media screen and (max-width: 360px){


  .header1 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
  }



  .para1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    position: relative;
    text-align: center;
    margin-top: 1em;
    
  }
  #frame1 {
    background: #1A211E;
     color: white;
     position: relative;
   font-family: "poppins";
   height: 80vh;
   margin-bottom: 5em;
 
   }

   .mobilebitcoin{
    position: relative;
    top: 3.5em;
    left: 0.1em;
  }
  .mobilesmalldollar{
    position: relative;
    top: 2em;
    left: 1em;
  }
  .mobiledollarm{
    position: relative;
    top: 3em;
    right: 0.1em;
  }
  .mobilet{
    position: relative;
    left: 1.5em;
    bottom: 4em;
  }
  .mobilediamond{
    position: relative;
    right: 1em;
    bottom: 5em;
  }

  .ellipsebutton1 {
    width: 120px;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    transition: all 0.2s linear;
  }
  .ellipsebutton1:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton2 {
    color: #01d072;
    font-size: 12px;
    width: 120px;
    text-align: center;
    background-color: black;
    border-radius: 1em;
    height: 3.2em;
    border-color: #00ffa3;
    transition: all 0.2s linear;
    border-style: solid;
    border-width: 1px;
  }
  .ellipsebutton2:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  .gettingstarted{
    position: relative;
    bottom: 5em;
    left: 15px;
  
  }
  
  .h1gettingstarted {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
    }
  
    .pgettingstarted {
      width: 16em;
      height: 16em;
      color: white;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      
    }
  
    .gettingstarted0 {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: space-between;
    background: radial-gradient(closest-corner at 700px 450px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
      color: white;
      font-family: "poppins";
      position: relative;
      bottom: 8em;
      right: 1em;
    }
  
    .ellipsebutton111 {
      width: 100px;
      height: 3em;
      background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
      box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
      border-radius: 0.7em;
      padding: 0.5em 1em 0.5em 1em;
      align-items: center;
      font-size: 10px;
      margin-top: 0.1em;
      transition: all 0.2s linear;
      font-weight: 600;
      color: white;
    }
    
    .ellipsebutton111:hover {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
    }



    
.buycoins0 {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100vw;
  height: 80vh;
  justify-content: space-between;
  background: radial-gradient(closest-corner at 700px 400px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
  position: relative;
 



}
.buycoins {
  display: flex;
  flex-direction: column;
  transform: translate(-5%, 15%);
}
.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
 
}
.buycoinsp {
   height: 11em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  position: relative;

}
.makepaymentmobile{
display: none;
}
.mobile2{
  display: inline;
  position: relative;
  right: 5px;
  margin-top: 4em;
}
.buyairtimepicture{
  display: none;
}
.mobileview2{
display: none;
}

.buy-airtime {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100vw;
  justify-content: space-between;
  background: radial-gradient(closest-corner at 700px 550px,  #173e2d,  #1A211E,  #1A211E, #1a211e );
padding-bottom: 5em;

}
.buyairtimetext {
  display: flex;
  flex-direction: column;
  transform: translate(0%, 0%);
  color: white;
}
.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 10em;
}
.buyairtimep {
  width: 12em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;

}
.mobile3{
  display: inline;
  position: relative;
  right: 2em;
  bottom: 3em;
}

.commenttext{
  font-size: 14px;
 position: relative;
 padding-right: 30px;

}

.commentpics {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  gap: 1.5em;
  overflow-x: scroll;
  overflow-y: hidden;

}

h5 {
  font-size: 14px;
}


.ajayi {
  padding: 2em 0.5em 1em 0.5em;
  background: #ffffff;
  border-radius: 16px;
  width: 16em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.ajayiimg {
  position: relative;
  top: 2em;
}
.updateh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.getupdate {
  color: white;
  margin-top: 4em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 8em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  
}

.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  width: 100vw;
  text-align: center;
}

.update-form {
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  margin-left: 1em;
}
.input-form {
  height: 2.5em;
  width: 18em;
  border-radius: 8px;
 
}
.subscribe-button {
  position: relative;
  right: 1.5em;
  height: 2.5em;
  width: 6em;
  padding: 0.5em;
  background-color: #00c566;
  color: white;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.subscribe-button:hover {
  background-color: white;
  color: black;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 80vh;
}
.framediv{
  display: flex ;
  justify-content: space-evenly;
margin-left: auto;
margin-right: auto;


}
.selenia22{
  font-size: 1em;
  font-weight: 700;
  color: #00ffa3;
  font-family: "poppins";
  margin-top: 3em;
  margin-left: auto;
margin-right: auto;
position: relative;
right: 1em;
}
.iconss {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  position: relative;
  top: 1em;
}
.copyy {
  color: white;
  font-size: 12px;
  position: relative;
   left: 0.1em;
  top: 3em;
}

.frame02{
  margin-top: 1em;
}

 .frame002{
  position: relative;
  left: 7.5em;
 }

 .frame003{
  position: relative;
  right: 7em;
 }
 .footer-head{
  font-size: 16px;
 }


}






@media screen and (max-width: 330px){

  
  
  .pgettingstarted {
    width: 15em;
    height: 16em;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    
  }


  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 100vh;
  }
  .footer-head{
    font-size: 8px;
  }

  .framediv{
    display: flex ;
    justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  
  
  }
  .selenia22{
    font-size: 1em;
    font-weight: 700;
    color: #00ffa3;
    font-family: "poppins";
    margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 1em;
  }
  .iconss {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    position: relative;

  }
  .copyy {
    color: white;
    font-size: 12px;
    position: relative;
     left: 0.1em;
    top: 3em;
  }
  
  .frame02{
    margin-top: 1em;
  }
  
   .frame002{
    position: relative;
    left: 8.5em;
   }
  
   .frame003{
    position: relative;
    right: 7em;
   }
   .footer-head{
    font-size: 16px;
   }
   .frame0001{
    position: relative;
    left: 10px;
   }
  








}


















  
  
  