
@media screen and (max-width: 650px){


  .main1{
    position: relative;
    bottom: 5em;
  }
  .img1 {
    position: relative;
   left: 2em;
   top: 12em;
   transform: scale(0.6);
  
 }

 .img2 {
   position: relative;
   left: 2em;
   top: 9em;
   transform: scale(0.6);
 }
 
 .img3 {
    position: relative;
 top: 11em;
 right: 1em;
 transform: scale(0.6);
 
 }


 .header1 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 4em;
  
}

.para1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}

.img4 {
  position: relative;
  left: 1em;
  bottom: 25em; 
  transform: scale(0.6);
}
.img5 {
   position: relative;
  left: 11em;
  bottom: 25em; 
  transform: scale(0.6);
}
.img6 {
   position: relative;
  right: 1em;
  bottom: 24em;
  transform: scale(0.6); 
}


.ellipsebutton111 {
  width: 9em;
  height: 2.5em;
  background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
  box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
  border-radius: 1em;
  padding: 0.5em 1.4em 0.5em 1.4em;
  gap: 0.6em;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.2s linear;
  font-weight: 600;
  color: white;
}

.ellipsebutton111:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}


#main2 {
  color: white;
  position: relative;
  font-family: "poppins";
}

.gettingstarted0{
  height: 60vh;
  background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  }
  .buycoins0{
    height: 60vh;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  }
  .buy-airtime{
    height: 70vh;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  }
  

.h1gettingstarted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  width: 12em;

}
.pgettingstarted {
  width: 15em;
  height: 120px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  margin-bottom: 4em;
}

.mobile1{
  position: relative;
  padding-left: 13em;
  transform: scale(1.5);
}
.gettingstarted{
  margin-left: 1em;
}
.buycoinstexth1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #00ffa3;
  width: 10em;
}
.buycoinsp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
}
.buycoins{
  padding-right: 25em;
}
.mobile2{
  position: relative;
  left: 10em;
}
.mobile3{
  position: relative;
  left: 2em;
}

.buyairtimeh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  width: 10em;

}
.buyairtimep {
  width: 18em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}
.buyairtimepicture {
position: relative;
top: 4em;
}
.footer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 80vh;
}
.getupdate {
  color: white;
  margin-top: 4em;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 4em;
  background: radial-gradient(circle at  center center, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
  padding-top: 1em;
}
.updateh1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}
.updatep {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 100vw;
  text-align: center;
}

.update-form {
  padding-top: 1em;
}
.input-form {
  height: 3em;
  width: 24em;
}
.subscribe-button {
  position: relative;
  right: 1.5em;
  height: 3.5em;
  width: 12em;
  padding: 0.8em;
  background-color: #00c566;
  color: white;
  border-radius: 8px;
  transition: all 0.2s linear;
}
.subscribe-button:hover {
  background-color: white;
  color: black;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}
.mobileview2{
  position: relative;
  left: 1.3em;
}




}



  @media screen and (max-width: 450px){

    .img1 {
      position: relative;
     left: 1px;
     top: 10em;
     transform: scale(0.4);
    
   }
   .img2 {
     position: relative;
     left: 2em;
     top: 9em;
     transform: scale(0.4);
   }
   
   .img3 {
      position: relative;
   top: 11em;
   left: 30px;
   transform: scale(0.4);
   
   }
  
  
   .header1 {
    font-size: 26px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    
    
  }
  
  .para1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .ellipsebutton1 {
    width: 150px;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    transition: all 0.2s linear;
    margin-left: 1.5em;
  }
  .ellipsebutton1:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton2 {
    color: #01d072;
    font-size: 12px;
    width: 150px;
    text-align: center;
    background-color: black;
    border-radius: 1em;
    height: 3.2em;
    border-color: #00ffa3;
    transition: all 0.2s linear;
    border-style: solid;
    border-width: 1px;
    margin-right: 1.5em;
  }
  .ellipsebutton2:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  
  .img4 {
    position: relative;
    left: 1px;
    bottom: 17em; 
    transform: scale(0.4);
  }
  .img5 {
     position: relative;
    left: 10em;
    bottom: 19em; 
    transform: scale(0.4);
  }
  .img6 {
     position: relative;
    left: 25px;
    bottom: 17em;
    transform: scale(0.4); 
  }
  
  
  .ellipsebutton111 {
    width: 9em;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.5em 1.4em 0.5em 1.4em;
    gap: 0.6em;
    align-items: center;
    font-size: 1em;
    transition: all 0.2s linear;
    font-weight: 600;
    color: white;
  }
  
  .ellipsebutton111:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  #main2 {
    color: white;
    position: relative;
    font-family: "poppins";
    height: 200vh;
  }
  
  .gettingstarted0{
    height: 60vh;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    }
    .buycoins0{
      height: 60vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
      
    }
    .buy-airtime{
      height: 60vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    }
    
  
  .h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    width: 10em;
  
  }
  .pgettingstarted {
    width: 15em;
    height: 120px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    margin-bottom: 6em;
  }
  
  .mobile1{
    position: relative;
    padding-left: 11.5em;
    transform: scale(1.3);
  }
  .gettingstarted{
    margin-left: 1em;
  }
  .buycoinstexth1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #00ffa3;
    width: 9em;
  }
  .buycoinsp {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
  }
  .buycoins{
    padding-right: 25em;
  }
  .mobile2{
    position: relative;
    transform: scale(1.2);
    left: 2em;
    top: 8em;
  }
  .mobile3{
    position: relative;
    transform: scale(1.2);
    top: 6em;
    transform: translate(-30%);
  }

  
  .buyairtimeh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    width: 10em;
  
  }
  .buyairtimep {
    width: 18em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
  }
  .buyairtimepicture {
  position: relative;
  top: 4em;
  }
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 80vh;
  }
  .updatep {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 100vw;
    text-align: center;
  }
  
.update-form {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    margin-left: 1em;
  }
  .input-form {
    height: 2.5em;
    width: 20em;
    border-radius: 14px;
   
  }
  .subscribe-button {
    position: relative;
    right: 1.5em;
    height: 2.5em;
    width: 7em;
    padding: 0.5em;
    background-color: #00c566;
    color: white;
    border-radius: 8px;
    transition: all 0.2s linear;
  }
  .subscribe-button:hover {
    background-color: white;
    color: black;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }

  
.footer-head{
  position: relative;
  bottom: 1em;
  display: block;
  right: 1.3em;
  }
  .footerp{
    font-size: 10px;
   
  }
  .mobileview2{
    display: inline;
    position: relative;
     left: 1em;
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 75vh;
  }
  .framediv{
    display: flex ;
    justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  
  
  }
  .selenia22{
    font-size: 1em;
    font-weight: 700;
    color: #00ffa3;
    font-family: "poppins";
    margin-top: 3em;
    margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 1em;
  }
  .iconss {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    position: relative;
    top: 1em;
  }
  .copyy {
    color: white;
    font-size: 12px;
    position: relative;
     left: 0.1em;
    top: 3em;
  }
  
  .frame02{
    margin-top: 1em;
  }
  
   .frame002{
    position: relative;
    left: 6em;
   }
  
   .frame003{
    position: relative;
    right: 5em;
   }
  


  }




  
  @media screen and (max-width: 415px){
    .img1 {
      position: relative;
     left: 1px;
     top: 10em;
     transform: scale(0.4);
    
   }
   .img2 {
     position: relative;
     left: 1em;
     top: 8em;
     transform: scale(0.4);
   }
   
   .img3 {
      position: relative;
   top: 10em;
   right: 1px;
   transform: scale(0.4);
   
   }
   
   .header1 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    
    
  }
  
  .para1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .img4 {
    position: relative;
    left: 1px;
    bottom: 18em; 
    transform: scale(0.4);
  }
  .img5 {
     position: relative;
    left: 9em;
    bottom: 18em; 
    transform: scale(0.4);
  }
  .img6 {
     position: relative;
    right: 1px;
    bottom: 17em;
    transform: scale(0.4); 
  }
  .mobile2{
    position: relative;
    transform: scale(1.1);
    left: 0.8em;
    top: 6em;

  }
  }




  @media screen and (max-width: 400px){

    
    .img1 {
      position: relative;
     left: 1px;
     top: 9em;
     transform: scale(0.3);
    
   }
   .img2 {
     position: relative;
     left: 1em;
     top: 9em;
     transform: scale(0.3);
   }
   
   .img3 {
      position: relative;
   top: 10em;
   right: 1px;
   transform: scale(0.3);
   
   }
  
  
   .header1 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    
    
  }
  
  .para1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .img4 {
    position: relative;
    left: 1px;
    bottom: 15em; 
    transform: scale(0.3);
  }
  .img5 {
     position: relative;
    left: 9.5em;
    bottom: 17em; 
    transform: scale(0.3);
  }
  .img6 {
     position: relative;
    right: 0px;
    bottom: 16em;
    transform: scale(0.3); 
  }
  
  .ellipsebutton1 {
    width: 150px;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    transition: all 0.2s linear;
    margin-left: 1.5em;
  }
  .ellipsebutton1:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton2 {
    color: #01d072;
    font-size: 12px;
    width: 150px;
    text-align: center;
    background-color: black;
    border-radius: 1em;
    height: 3.2em;
    border-color: #00ffa3;
    transition: all 0.2s linear;
    border-style: solid;
    border-width: 1px;
    margin-right: 1.5em;
  }
  .ellipsebutton2:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton111 {
    width: 9em;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.5em 1.4em 0.5em 1.4em;
    gap: 0.6em;
    align-items: center;
    font-size: 1em;
    transition: all 0.2s linear;
    font-weight: 600;
    color: white;
  }
  
  .ellipsebutton111:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  #main2 {
    color: white;
    position: relative;
    font-family: "poppins";
    height: 200vh;
  }
  
  .gettingstarted0{
    height: 60vh;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    }
    .buycoins0{
      height: 70vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
      
    }
    .buy-airtime{
      height: 60vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    }
    
  
  .h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: 10em;
  
  }
  .pgettingstarted {
    width: 15em;
    height: 120px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    margin-bottom: 6em;
  }
  
  .mobile1{
    position: relative;
    padding-left: 13em;
    transform: scale(1.1);
    bottom: 50px;
  }
  .gettingstarted{
    margin-left: 1em;
  }
  .buycoinstexth1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #00ffa3;
    width: 9em;
  }
  .buycoinsp {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    width: 11em;
  }
  .buycoins{
    padding-right: 24em;
  }
  .mobile2{
    position: relative;
    transform: scale(1.1);
    left: 1.5em;
    top: 6em;
  }
  .mobile3{
    position: relative;
    transform: scale(1.1);
    top: 6em;
    transform: translate(-30%);
  }

  
  .buyairtimeh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    width: 10em;
  
  }
  .buyairtimep {
    width: 18em;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
  }
  .buyairtimepicture {
  position: relative;
  top: 4em;
  }
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 90vh;
  }
  .updatep {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 100vw;
    text-align: center;
  }
  
.update-form {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    margin-left: 1em;
  }
  .input-form {
    height: 2.5em;
    width: 20em;
    border-radius: 14px;
   
  }
  .subscribe-button {
    position: relative;
    right: 1.5em;
    height: 2.5em;
    width: 7em;
    padding: 0.5em;
    background-color: #00c566;
    color: white;
    border-radius: 8px;
    transition: all 0.2s linear;
  }
  .subscribe-button:hover {
    background-color: white;
    color: black;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }

  
.footer-head{
  position: relative;
  bottom: 1em;
  display: block;
  right: 1.3em;
  }
  .footerp{
    font-size: 10px;
   
  }
  .mobileview2{
    display: inline;
    position: relative;
    bottom: 3em;
    left: 0.8em;
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 75vh;
  }
  .framediv{
    display: flex ;
    justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  
  
  }
  .selenia22{
    font-size: 1em;
    font-weight: 700;
    color: #00ffa3;
    font-family: "poppins";
    margin-top: 3em;
    margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 1em;
  }
  .iconss {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    position: relative;
    top: 1em;
  }
  .copyy {
    color: white;
    font-size: 12px;
    position: relative;
     left: 0.1em;
    top: 3em;
  }
  
  .frame02{
    margin-top: 1em;
  }
  
   .frame002{
    position: relative;
    left: 7em;
   }
  
   .frame003{
    position: relative;
    right: 6em;
   }




  }



  @media screen and (max-width: 385px){
    
  .img4 {
    position: relative;
    
    bottom: 14em; 
    transform: scale(0.3);
  }
  .img5 {
     position: relative;
    left: 9em;
    bottom: 15.5em; 
    transform: scale(0.3);
  }
  .img6 {
     position: relative;
    right: 1px;
    bottom: 15em;
    transform: scale(0.3); 
  }

  

  .gettingstarted0{
    height: 60vh;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    }
    .buycoins0{
      height: 70vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
      
    }
    .buy-airtime{
      height: 60vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    }

    
  #main2 {
    color: white;
    position: relative;
    font-family: "poppins";
    height: 210vh;
    bottom: 10em;
  }

  .framediv{
    position: relative;
    bottom: 2em;
  }
  .frame01{
    position: relative;
    bottom: 3em;
  }
   
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 85vh;
  }
    

  .mobileview2{
    position: relative;
    left: 1px;
    transform: scale(0.7);
    bottom: 5em;
  }

  }



  
  @media screen and (max-width: 370px){


    .img1 {
      position: relative;
     left: 1px;
     top: 8.5em;
     transform: scale(0.3);
    
   }
   .img2 {
     position: relative;
     left: 1em;
     top: 8em;
     transform: scale(0.3);
   }
   
   .img3 {
      position: relative;
   top: 9em;
   right: 1px;
   transform: scale(0.3);
   
   }
  
  
   .header1 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    
    
  }
  
  .para1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .img4 {
    position: relative;
    left: 1px;
    bottom: 15em; 
    transform: scale(0.3);
  }
  .img5 {
     position: relative;
    left: 8em;
    bottom: 15em; 
    transform: scale(0.3);
  }
  .img6 {
     position: relative;
    right: 1px;
    bottom: 15em;
    transform: scale(0.3); 
  }
  
  .BOX1{
    transform: scale(0.9);
  }

  .ellipsebutton1 {
    width: 150px;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    transition: all 0.2s linear;
    margin-left: 1.5em;
  }
  .ellipsebutton1:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton2 {
    color: #01d072;
    font-size: 12px;
    width: 150px;
    text-align: center;
    background-color: black;
    border-radius: 1em;
    height: 3.2em;
    border-color: #00ffa3;
    transition: all 0.2s linear;
    border-style: solid;
    border-width: 1px;
    margin-right: 1.5em;
  }
  .ellipsebutton2:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton111 {
    width: 9em;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.5em 1.4em 0.5em 1.4em;
    gap: 0.6em;
    align-items: center;
    font-size: 1em;
    transition: all 0.2s linear;
    font-weight: 600;
    color: white;
  }
  
  .ellipsebutton111:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  #main2 {
    color: white;
    position: relative;
    font-family: "poppins";
    height: 210vh;
  }
  
  .gettingstarted0{
    padding-top: 4em;
    height: 70vh;
    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    }
    .buycoins0{
      height: 80vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
      padding-top: 3em;
    }
    .buy-airtime{
      height: 70vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
      
    }
    
  
  .h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: 8em;
  
  }
  .pgettingstarted {
    width: 11em;
    height: 120px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    margin-bottom: 8em;
  }
  
  .mobile1{
    position: relative;
    padding-left: 13.5em;
    transform: scale(1.0);
    bottom: 100px;
  }
  .gettingstarted{
    margin-left: 1.2em;
  }
  .buycoinstexth1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #00ffa3;
    width: 9em;
  }
  .buycoinsp {
    width: 11em;
    height: 120px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 33px;
    
  }
  .buycoins{
    padding-right: 22em;
  }
  .mobile2{
    position: relative;
    transform: scale(1);
    left: 0.9em;
    top: 5em;
  }
  .mobile3{
    position: relative;
    transform: scale(1);
    top: 5em;
    transform: translate(-25%);
  }
  .buyairtimetext{
    position: relative;
    left: 5px;
  }
  
  .buyairtimeh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: 10em;
  
  }
  .buyairtimep {
    width: 11em;
    height: 120px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 33px;
  
  }
  .buyairtimepicture {
  position: relative;
  top: 4em;
  }
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 90vh;
    
  }
  .updateh1{
    font-size: 16px;
  }
  .updatep {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 100vw;
    text-align: center;
  }

  .update-text{
    padding-top: 1.5em;
  }
  
.update-form {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    margin-left: 1em;
  }
  .input-form {
    height: 2.5em;
    width: 20em;
    border-radius: 14px;
   
  }
  .subscribe-button {
    position: relative;
    right: 1.5em;
    height: 2.5em;
    width: 7em;
    padding: 0.5em;
    background-color: #00c566;
    color: white;
    border-radius: 8px;
    transition: all 0.2s linear;
  }
  .subscribe-button:hover {
    background-color: white;
    color: black;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }

  
.footer-head{
  position: relative;
  bottom: 1em;
  display: block;
  right: 1.3em;
  }
  .footerp{
    font-size: 10px;
   
  }
  .mobileview2{
    display: inline;
    position: relative;
    bottom: 3em;
    transform: scale(0.7);
     left: 0.6em;
  
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 85vh;
  }
  .framediv{
    display: flex ;
    justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  
  
  }
  .selenia22{
    font-size: 1em;
    font-weight: 700;
    color: #00ffa3;
    font-family: "poppins";
    margin-top: 3em;
    margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 1em;
  }
  .iconss {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    position: relative;
    top: 1em;
  }
  .copyy {
    color: white;
    font-size: 12px;
    position: relative;
     left: 0.1em;
    top: 3em;
  }
  
  .frame02{
    margin-top: 1em;
  }
  
   .frame002{
    position: relative;
    left: 7.5em;
   }
  
   .frame003{
    position: relative;
    right: 6em;
   }
   .mobileview2{
    right: 2em;
   }






  }





   @media screen and (max-width: 330px){

    

    .img1 {
      position: relative;
     left: 1px;
     top: 8.5em;
     transform: scale(0.3);
    
   }
   .img2 {
     position: relative;
     left: 1em;
     top: 8em;
     transform: scale(0.3);
   }
   
   .img3 {
      position: relative;
   top: 8em;
   right: 1px;
   transform: scale(0.3);
   
   }


  
   .header1 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    
    
  }
  
  .para1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .img4 {
    position: relative;
    left: 1px;
    bottom: 15em; 
    transform: scale(0.3);
  }
  .img5 {
     position: relative;
    left: 6em;
    bottom: 15em; 
    transform: scale(0.3);
  }
  .img6 {
     position: relative;
    right: 1px;
     top: -14em;
    transform: scale(0.3); 
  }
  
  .BOX1{
    transform: scale(0.8);
  }

  .ellipsebutton1 {
    width: 150px;
    height: 3em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 0.7em;
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    transition: all 0.2s linear;
    margin-left: 1.5em;
  }
  .ellipsebutton1:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton2 {
    color: #01d072;
    font-size: 12px;
    width: 150px;
    text-align: center;
    background-color: black;
    border-radius: 1em;
    height: 3.2em;
    border-color: #00ffa3;
    transition: all 0.2s linear;
    border-style: solid;
    border-width: 1px;
    margin-right: 1.5em;
  }
  .ellipsebutton2:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  .ellipsebutton111 {
    width: 9em;
    height: 2.5em;
    background: linear-gradient(275.52deg, #00c566 5.5%, #00ffa3 97.66%);
    box-shadow: 0px 30px 60px rgba(0, 197, 102, 0.15);
    border-radius: 1em;
    padding: 0.5em 1.4em 0.5em 1.4em;
    gap: 0.6em;
    align-items: center;
    font-size: 0.7em;
    transition: all 0.2s linear;
    font-weight: 600;
    color: white;
  }
  
  .ellipsebutton111:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }
  
  #main2 {
    color: white;
    position: relative;
    font-family: "poppins";
    height: 300vh;
    position: relative;
     bottom: 10em;
  }
  
  .gettingstarted0{

    background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    position: relative;
    height: 100vh;
    padding-top: 5em;

    }
    .buycoins0{
      height: 90vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
      
    }
    .buy-airtime{
      height: 100vh;
      background: radial-gradient(circle at  center center, #173e2d, #173e2d, #1A211E,  #1A211E, #1A211E, #1a211e, #1a211e);
    }
    
  
  .h1gettingstarted {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 8em;
  
  }
  .pgettingstarted {
    width: 12em;
    height: 120px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 32px;
    margin-bottom: 10em;
  }
  
  .mobile1{
    position: relative;
    padding-left: 14em;
    transform: scale(0.9);
    bottom: 100px;
  }
  .gettingstarted{
    margin-left: 1em;
    
  }
  .buycoinstexth1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #00ffa3;
    width: 9em;
  }
  .buycoinsp {
    width: 11em;
    height: 120px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    
  }
  .buycoins{
    padding-right: 24em;
  }
  .mobile2{
    position: relative;
    transform: scale(0.9);
    left: -1px;
    top: 5em;
  }
  .mobile3{
    position: relative;
    transform: scale(0.7);
    top: 8em;
    transform: translate(-35%);
  }
  .buyairtimetext{
    position: relative;
    left: 5px;
  }
  
  .buyairtimeh1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: 10em;
  
  }
  .buyairtimep {
    width: 11em;
    height: 120px;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
  
  }
  .buyairtimepicture {
  position: relative;
  top: 4em;
  }
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 90vh;
    
  }
  .updateh1{
    font-size: 16px;
  }
  .updatep {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 100vw;
    text-align: center;
  }
  
.update-form {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    margin-left: 1em;
  }
  .input-form {
    height: 2.5em;
    width: 20em;
    border-radius: 14px;
   
  }
  .subscribe-button {
    position: relative;
    right: 1.5em;
    height: 2.5em;
    width: 7em;
    padding: 0.5em;
    background-color: #00c566;
    color: white;
    border-radius: 8px;
    transition: all 0.2s linear;
  }
  .subscribe-button:hover {
    background-color: white;
    color: black;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
  }

  
.footer-head{
  position: relative;
  bottom: 1em;
  display: block;
  right: 1.3em;
  
  }
  .footerp{
    font-size: 10px;
   
  }
  .mobileview2{
    display: inline;
    position: relative;
    bottom: 4em;
    transform: scale(0.7);
    right: 30px;
  
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 100vh;
  }
  .framediv{
    display: flex ;
    justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  
  
  }
  .selenia22{
    font-size: 1em;
    font-weight: 700;
    color: #00ffa3;
    font-family: "poppins";
    margin-top: 3em;
    margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 1em;
  }
  .iconss {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    position: relative;
    top: 1em;
  }
  .copyy {
    color: white;
    font-size: 12px;
    position: relative;
     left: 0.1em;
    top: 3em;
  }
  
  .frame02{
    margin-top: 1em;
  }
  
   .frame002{
    position: relative;
    left: 7em;
   }
  
   .frame003{
    position: relative;
    right: 6em;
   }
   .hh3{
    font-size: 16px;
    position: relative;
    right: 4em;
   }




   }




















  
  
  